[2019-10-14 21:06] banesullivan opened #7 "Reimplement BackgroundPlotter to have each renderer in its own Qt frame"
We should figure out how to reimplement the `BackgroundPlotter` to place several window interactors/renderers in their own Qt frames rather than as sub-viewports in a single interactor so that subplotting can be more configurable for downstream dependencies

- Qt frames can be dragged around/rearranged
- Each frame would have its own toolbar to fix how the "Save Camera" button only works for the l

[2020-02-22 10:11] RubendeBruin opened #8 "Support for PySide2 (qt)"
I would like to use pyvista in a qt qui application. In this application we use the pyside2 library instead of the pyqt5. Going over the source in qt_plotting it seems that adding support for pyside2 is not too much work. Willing to give it a go and create a merge request when finished.

However, I do not want to interfere withe pyvista/pyvista#614 which seems to propose massive reduction of the q

[2020-05-15 03:56] akaszynski opened #1 "Review Me"
@pyvista/developers, I'd like you to please take a look at this repo as it's the execution of the other half of https://github.com/pyvista/pyvista/pull/719

[2020-05-15 10:30] GuillaumeFavelier commented on #1
I'm on it

[2020-05-15 10:36] GuillaumeFavelier opened #2 "Issues about BackgroundPlotter in pyvista"
I think it would probably help the transition from [pyvista](https://github.com/pyvista/pyvista) if the issues about `BackgroundPlotter` were moved in here at some point in time?

What do you think @pyvista/developers ?

[2020-05-15 15:25] akaszynski commented on #2
Agreed.

[2020-05-24 22:33] akaszynski opened #3 "Ensure Orbit used the threading option"
See comments in https://github.com/pyvista/pyvista/pull/719

[2020-05-29 03:45] banesullivan commented on #2
Agreed. I can take on this task

[2020-06-02 17:36] akaszynski commented on #3
Done

[2020-06-02 17:36] #3 closed

[2020-06-02 17:37] akaszynski commented on #1
Going to need `pyvista==0.25.0` for automated testing to work, but tests pass locally.  Some work on the docs would be nice, but it's already a little better than before.

[2020-06-04 18:53] adeak opened #4 "Project is not on PyPI yet"
The project [is not on PyPI yet](https://pypi.org/project/pyvistaqt/), which is probably on purpose. I tried giving pyvista 0.25 a go, but my code uses `BackgroundPlotter`s, and so it tells me to install `pyvistaqt` from pip. And so does the README :) So right now the latest release of pyvista might lead users into a semi-dead end.

[2020-06-04 18:57] banesullivan commented on #4
We can't launch this unto 0.25.1 of PyVista ships to PyPI. I believe @akaszynski is planning on releases this to PyPI right after PyVista which I think is happening today

[2020-06-04 18:59] adeak commented on #4
Great, thanks for the information! I'll close this when it's up.

[2020-06-04 19:23] akaszynski commented on #4
Yep, very soon.

[2020-06-04 20:07] #1 closed

[2020-06-04 20:13] akaszynski commented on #4
It's up:
https://pypi.org/project/pyvistaqt/0.1.0/

[2020-06-04 20:13] #4 closed

[2020-06-04 20:13] akaszynski commented on #2
@banesullivan, we're ready to move the issues over.

[2020-06-04 20:37] banesullivan commented on #2
I'll get on this tonight

[2020-06-05 00:54] truenicoco opened #9 "`QtInteractor` can no longer be used with qt-designer"
Before pyvista 0.24.0, I could use qt-designer to design my UI and *promote* a widget to `pv.QtInteractor`.

It is probably the expected behaviour, but this version makes it impossible to do that.

Also, If I want to remove/re-add the widget, which I have to do because I dynamically want to change the number of subplots in my app, I must be careful to use the `interactor` attribute of the `pv.QtIn

[2020-06-05 00:55] banesullivan commented on #2
We're only transferring open issues, correct?

[2020-06-05 00:56] ttsesm opened #10 "Interactive action menu on plotting window"
Hi guys,

First thank you for the great work you've done with pyvista. I am quite new to it and I was playing around a bit. One feature that I really miss is the interactive action menu on the plotting window like the one you get in mayavi or in matlab, for example see the images below:

![image](https://user-images.githubusercontent.com/10189018/81922094-26cb9f80-95cb-11ea-98d0-005337506fa3.png)

[2020-06-05 09:24] GuillaumeFavelier opened #11 "Automatic Testing with CI"
I do not see any automatic unit testing setup in the project, what is the plan @pyvista/developers ?

[2020-06-05 09:25] GuillaumeFavelier commented on #11
Nevermind, I just notice https://github.com/pyvista/pyvistaqt/blob/master/.ci/azure-pipelines.yml

[2020-06-05 09:25] #11 closed

[2020-06-05 10:52] GuillaumeFavelier commented on #8
And what do you think about [qtpy](https://github.com/spyder-ide/qtpy)?

[2020-06-06 16:36] banesullivan opened #13 "Windows fatal exception"
Received an email:

![image](https://user-images.githubusercontent.com/22067021/83949451-dde5c000-a7f1-11ea-810d-798c60765f6b.png)

[2020-06-06 19:15] banesullivan opened #14 "Add to conda-forge"

[2020-06-07 00:51] akaszynski commented on #13
@banesullivan, could they please send out a scooby report?

[2020-06-09 01:35] rodrigomologni commented on #13
Hi, @akaszynski,

I'm Rodrigo. I sent the email to @banesullivan. See below the scooby report.

Thank you!

[code]

[2020-06-09 05:33] akaszynski commented on #13
Issue is likely with VTK 9.0.  Can you please see if it still occurs with vtk==8.1.2?  A simple pip install should do it:
[code]

[2020-06-09 12:51] rodrigomologni commented on #13
I uninstalled the VTK 9.0.0 and installed the VTK 8.1.2 as requested, but the error continues:

[code]

Line 52:

`sys.exit(app.exec_())`

[2020-06-09 15:10] akaszynski commented on #13
@rodrigomologni, can you please post the entire source here so I can reproduce this locally?

Glad to know it's not a vtk problem...

[2020-06-09 15:17] rodrigomologni commented on #13
@akaszynski the source is the **Example PyQt5 PyVista QtInteractor** available at https://qtdocs.pyvista.org/qt_plotting.html.

[2020-06-09 15:18] akaszynski commented on #13
Thanks!

[2020-06-09 16:54] #2 closed

[2020-06-09 16:57] banesullivan opened #15 "BackgroundPlotter not workin on Mac with vtk9"
I *still* cannot get the `BackgrounPlotter` to work with VTK9.0 on Mac. See https://github.com/pyvista/pyvista/issues/562#issuecomment-619428242

cc @Leguark, since you all are using the `BackgroundPlotter` in GemPy, you may want to limit `vtk` in your setup.py until we get this fixed: `vtk<9.0.0`

cc @GuillaumeFavelier, are you all seeing this with MNE-Python?

[2020-06-09 17:07] akaszynski commented on #2
I think that sounds reasonable.

[2020-06-09 17:17] GuillaumeFavelier commented on #15
I know that we have a job on Travis configured with `vtk 9.0.0` for `MacOS` but I'm not 100% sure it runs all the tests, it might skip a lot. We still have to get reports from users on `MacOS` that did the upgrade to `vtk 9.0.0`

[2020-06-10 11:40] GuillaumeFavelier commented on #15
To move forward with this one, @banesullivan could you maybe try a very simple example like the default [QVTKRenderWidgetConeExample](https://gitlab.kitware.com/vtk/vtk/-/blob/master/Wrapping/Python/vtkmodules/qt/QVTKRenderWindowInteractor.py#L546-582) and confirm that everything works fine for you?

I think the priority here is to understand *where* is the issue.

[2020-06-15 19:36] larsoner commented on #15
Possibly related to initialize/start/show ordering?

https://discourse.vtk.org/t/vtk-9-pyqt-macos-no-rendering/3358/22

[2020-06-15 19:37] larsoner commented on #15
(This thread also explains why macOS rendering worked for me at one point when building the wheels myself, but stopped working once I switched to using the official VTK wheels)

[2020-06-15 19:46] cbrnr commented on #15
FWIW, toggling the "Eye Dome Lighting" setting made a figure change from completely black to actually show the figure correctly.

[2020-06-16 10:36] bistek opened #17 "methods of QtInteractor"
Hello, I'm testing some methods of QtInteractor from the new spin-off **pyvistaqt** library.

BTW, it is more clear to have it in a dedicated library. Thanks!

First I create a plotter widget in a Qt QMainWindow created with Qt Designer:

[code]

Then I am able to add some actor and everything works very well!

`self.plotter.add_mesh(<vtk_object>, name=<vtk_object_name>)`

However some of the meth

[2020-06-16 11:02] GuillaumeFavelier commented on #17
Hi @bistek, thanks for doing this manual testing and I'm surprised by the outcome. I think it could be a good idea to have automatic testing for this then once it is fixed.

Among the methods crashing, [`add_toolbars()`](https://github.com/pyvista/pyvistaqt/blob/master/pyvistaqt/plotting.py#L449) and [`add_menu_bar()`](https://github.com/pyvista/pyvistaqt/blob/master/pyvistaqt/plotting.py#L483) ar

[2020-06-16 15:20] akaszynski commented on #17
Looks like we indeed need to add automated testing for this.  Thanks for discovering this!

[2020-06-16 18:57] bistek commented on #17
I'm happy to help, if I can. Actually YOU are the one who are doing a great job for the community!

[2020-06-24 14:56] GuillaumeFavelier opened #18 "BackgroundPlotter segfaults on MacOS when smooth_shading is True"
The following snippet fails on MacOS:

[code]

And in my experience, adding `p.app.processEvents()` just before `add_mesh()` fixes it.

@agramfort feel free to confirm this and share your report when possible:

[code]

[2020-06-24 15:01] agramfort commented on #18
I confirm that this gives me a segfault on my mac.

[code]

[2020-06-25 16:01] larsoner opened #19 "ENH: Pinch-to-zoom support"
We want to implement pinch-to-zoom support in MNE-Python. Would it make sense to add it directly in pyvistaqt in `QtInteractor` or `BackgroundPlotter`? From what I (incompletely) understand so far it will probably require something like:
[code]

[2020-06-25 19:08] akaszynski commented on #19
I'd add it into `QtInteractor`.  That way other people can use `QtInteractor` within their `pyqt` apps with the pinch to zoom feature.

[2020-06-29 14:15] banesullivan commented on #15
Thanks for the tip, @cbrnr - I will have to look into why that is...

-----

FYI: VTK 9.0.1 fixed this issue for me (see https://github.com/pyvista/pyvistaqt/pull/16#issuecomment-651149656) but @larsoner is still having trouble?

[2020-06-29 16:20] larsoner commented on #15
I'm still having trouble with MNE examples, but it might be something we're doing at our end

[2020-06-29 16:28] larsoner commented on #15
Okay I figured out the problem, `enable_anti_aliasing` gives be a black canvas:
[code]

[2020-06-29 16:58] larsoner commented on #15
... and also the VTK widget controls we have are only controllable by mouse clicks at 1/2 the correct location, meaning the VTK has some HiDPI problem with its widget controls and clicks...

[2020-06-29 17:55] cbrnr commented on #15
And if you then toggle eyedome lighting, it works!

[2020-06-29 17:57] larsoner commented on #15
The widgets work? Or antialiasing works? Or you need AA off / commented out plus eyedome toggle to see the simple example above?

[2020-06-29 18:56] larsoner opened #20 "BUG: BackgroundPlotter does not handle HiDPI properly"
This code:
[code]
Works just fine for picking and looks like:

<img width="624" alt="Screen Shot 2020-06-29 at 2 41 56 PM" src="https://user-images.githubusercontent.com/2365790/86043503-d5f6f580-ba16-11ea-9972-89022ba7408c.png">

Changing it to use BackgroundPlotter, the window is twice as big (fine), the same number of rendered pixels (I think? if so, bad), and click interactions are off by a fa

[2020-06-29 19:00] cbrnr commented on #15
[Your example](https://github.com/pyvista/pyvistaqt/issues/15#issuecomment-651227725) initially looks like this:

<img width="1136" alt="Screen Shot 2020-06-29 at 20 59 44" src="https://user-images.githubusercontent.com/4377312/86045182-8121a200-ba4b-11ea-9be0-7be158ffacc0.png">

After clicking on View - Toggle Eye Dome Lighting, it looks like this:

<img width="1136" alt="Screen Shot 2020-06-29 a

[2020-06-30 13:09] hoechenberger opened #22 "Please publish sdist on PyPI"
Currently, only binary wheels are published on PyPI. Could you please also publish the source distribution? This is relevant for users trying to build `pyvistaqt` themselves, or for creating `conda-forge` packages.

Thank you!

[2020-06-30 13:10] banesullivan commented on #22
Sorry about that. We made the switch to building wheels across PyVista projects, realized that problem and forgot to re-enable this for pyvistaqt

Relevant to #14

[2020-06-30 13:16] hoechenberger commented on #14
x-ref https://github.com/conda-forge/staged-recipes/pull/12040

[2020-06-30 16:26] #22 closed

[2020-06-30 17:13] larsoner commented on #20
Actually it looks like a lot of this should be handled by VTK already:

https://gitlab.kitware.com/vtk/vtk/-/merge_requests/4201/diffs

So I'm confused why it's not for BackgroundPlotter, but is for Plotter. Maybe we need to see if #25 helps by being explicit about parenting or something

[2020-06-30 17:15] larsoner commented on #20
... #25 does not help, but I still think it's useful for cleaning up inheritance

[2020-06-30 17:19] larsoner commented on #20
Actually I suspect the problem might be that BasePlotter and vtkRenderWindowInteractor will both create a RenderWindow (!). I think the solution might be to init BasePlotter first, then pass the self.ren_win it creates to vtkRenderWindowInteractor...

[2020-06-30 17:59] larsoner commented on #20
Okay that's not the problem :(

[2020-06-30 19:49] larsoner commented on #20
Okay I think this might actually be a VTK problem, since the [EmbedPyQt example](https://vtk.org/Wiki/VTK/Examples/Python/Widgets/EmbedPyQt) also has this problem:

<details>

[code]

</details>

The interaction coordinates are wrong, and the rendering is not full-res. I wonder if we should make our own interactor class like Mayavi does...?

Also maybe I should check that embedding a Mayavi scene

[2020-06-30 20:19] larsoner commented on #20
Okay filed an upstream bug:

https://gitlab.kitware.com/vtk/vtk/-/issues/17953

@banesullivan if you can try the two code snippets there on a HiDPI machine and comment over there that it's also a problem for you it might help.

[2020-06-30 20:19] larsoner commented on #20
(mayavi has the same problem, hence why I think it's essentially VTK's problem...)

[2020-07-01 17:44] larsoner commented on #20
Indeed it appears to be a VTK adapter problem, the workaround for now at my end is to use PyQt5 < 5.14

[2020-07-01 20:14] banesullivan commented on #14
Added, thanks @hoechenberger!!

Keeping open to remind us to add conda-forge to the install instructions and to get a sexy badge in the README (doing this in #24)

[2020-07-01 23:25] banesullivan commented on #20
Just now looking at this. I can at least reproduce the issue on my laptop

[2020-07-01 23:34] #14 closed

[2020-07-02 12:29] #19 closed

[2020-07-03 11:46] GuillaumeFavelier opened #29 "Coverage?"
I think it would be nice to have visibility on the project coverage with a badge.

Also it seems that coverage is uploaded to codecov but what about codecov integration with the PRs?

[2020-07-03 11:50] GuillaumeFavelier commented on #29
Locally, I ran:

[code]

And I notice `90%` !

![image](https://user-images.githubusercontent.com/18143289/86466516-0cdd4c00-bd34-11ea-97c3-d050d8647acf.png)

[2020-07-03 13:39] akaszynski commented on #29
I can add this.

[2020-07-03 13:40] GuillaumeFavelier opened #30 "Code style"
I think the [same question](https://github.com/pyvista/pyvista/issues/288) can be asked in this repo. And eventually the same solution could be applied.

[2020-07-03 15:57] #29 closed

[2020-07-03 16:20] GuillaumeFavelier commented on #29
Has the coverage been uploaded correctly? It says `0%` on master (2620bb72a40ab7944102e3e4792d3ccec5afd669)

[2020-07-03 17:04] GuillaumeFavelier commented on #29
Apparently https://github.com/pyvista/pyvistaqt/pull/32 is not enough either. I have the correct results when i calculate coverage locally and I don't see any issue with our `codecov.yml` :thinking:

[2020-07-06 01:18] banesullivan commented on #30
It'd be easy to do it on this repo. I've used Black on other projects and have been enjoying it

[2020-07-06 14:28] GuillaumeFavelier commented on #29
Does it work with a basic, default `codecov.yml` or no `codecov.yml` at all? I would like to start from a working version and iterate.

[2020-07-06 15:34] akaszynski commented on #29
It should work with the default `codecov.yml` or no `codecov.yml` as when it's missing it just defaults to the default `codecov.yml`.  Still not sure why this isn't working...

[2020-07-08 00:20] larsoner commented on #8
`qtpy` looks like a good option

[2020-07-09 06:02] tkoyama010 commented on #30
+1 for using Black.

[2020-07-10 13:10] RobertKoenig1337 opened #35 "The BackgroundPlotter raised an QtDeprecationError on my system. What can I do to fix this?"
Hello all,

I am working on a simulation of a machining process. Therefore I need to update the visualization permanently while the simulation is running. I want to use pyvista with the BackgroundPlotter for this task. I set up the library in my Anaconda Python 3 with PyCharm. I installed the pyvista package, numpy and pyvistaqt (and a few others). When I am trying to process the example given by

[2020-07-10 14:52] banesullivan commented on #35
Perhaps our error message `'BackgroundPlotter' has moved to pyvistaqt.` is unclear. By "moved to pyvistaqt.", we really mean moved - completely. The `BackgroundPlotter` class is no longer accesible from `pyvista` but from `pyvistaqt` now. Thus, in your code, you must replace:

[code]

with

[code]

@pyvista/developers, I've been hearing a lot of confusion over this error message. Can you think of

[2020-07-10 14:54] banesullivan commented on #35
Perhaps we should change it to:

[code]

[2020-07-10 15:16] banesullivan commented on #35
Moving over to PyVista, so that we can improve this error message there

[2020-07-16 09:38] GuillaumeFavelier commented on #9
Could you try again with current `master` (37e921b8aa02b7c5c9009367b0aad6529596a3b6) @truenicoco ? I believe this should be fixed by https://github.com/pyvista/pyvistaqt/pull/25

[2020-07-16 09:46] GuillaumeFavelier commented on #13
Do you still encounter this issue @rodrigomologni ? Many things have changed since then (new release `vtk 9.0.1`, inheritance change in #25, ...)

[2020-07-16 11:58] rodrigomologni commented on #13
Hi @GuillaumeFavelier! Yes, the problem still occur.

[code]

[2020-07-16 13:49] GuillaumeFavelier commented on #13
Thanks for trying again. I will give it a try on my Windows and see if I can reproduce too :+1:

[2020-07-16 13:54] rodrigomologni commented on #13
@GuillaumeFavelier You're welcome! I can test here again if you need to. :v:

[2020-07-16 19:07] GuillaumeFavelier commented on #30
I notice some *real motivation* behind `black` 😅

To be honest, my nvim flake8 plugin is crying when I develop for pyvista and pyvistaqt so at this point, I am in favour of anything that can solve this 🙏

So, how does it work in terms of integration? What would be the plan?

[2020-07-17 06:35] tkoyama010 commented on #30
I made a PR which add CI of checking by black. Could you give opinion?

[2020-07-22 09:18] GuillaumeFavelier commented on #30
Closing by #38

[2020-07-22 09:18] #30 closed

[2020-07-27 09:39] tkoyama010 opened #39 "> We can still make `pylint` happy in a follow up PR if necessary 👍"
OK. Let's make pylint PR next time. Could you merge this PR first?

_Originally posted by @tkoyama010 in https://github.com/pyvista/pyvistaqt/pull/38#issuecomment-660034983_

[2020-07-29 05:28] tkoyama010 opened #41 "📺 Also add the virtual_display argument to BackgroundPlotter in pyvistaqt"
- [ ] Also add the virtual_display argument to BackgroundPlotter in pyvistaqt

_Originally posted by @tkoyama010 in https://github.com/pyvista/pyvista/pull/848#issuecomment-665406449_

[2020-08-18 12:18] tkoyama010 opened #49 "💚 Add Ipython test and check it in CI"
@GuillaumeFavelier Thanks for your review. I am sorry that I could not find erorr of ipython. Could we add Ipython test and check it in CI? (It maybe another issue.)

_Originally posted by @tkoyama010 in https://github.com/pyvista/pyvistaqt/pull/40#issuecomment-675442699_

[2020-08-18 12:29] GuillaumeFavelier commented on #49
I think creating a testing environment with IPython and plot a scene given by [`_create_testing_scene()`](https://github.com/pyvista/pyvistaqt/blob/659772c797e6e7ec4d6fa73d17b8b0eb720e582c/tests/test_plotting.py#L607-L641) would be a good start.

[2020-08-18 14:03] GuillaumeFavelier opened #50 "Set the application name with a parameter"
I think it would nice to have a way to modify the Qt application name with a parameter from `BackgroundPlotter`. For example: `app_name`.

This could prevent [creating a full `QApplication`](https://github.com/mne-tools/mne-python/pull/8117/files#diff-7d015438f1f32b2f4c28f713c2e3e7b1R91) or [using `setApplicationName()`](https://doc.qt.io/qt-5/qcoreapplication.html#applicationName-prop) afterwards

[2020-08-18 14:06] larsoner commented on #50
-1 on wrappnig things that are trivial to do directly in Qt. To me doing `setApplicationName` is easy enough, it already accepts a string. The only reason I see to have `set_icon` rather than using builtin Qt functions is that we can actually do some processing to make it easier by accepting ndarray, triaging the format, etc.

[2020-08-20 05:37] tkoyama010 commented on #49
It maybe a stupid question 😓  But could @pyvista/developers teach me how to make ipython environment ?

[2020-08-20 09:20] GuillaumeFavelier commented on #49
Sorry if I misunderstand the question.

To start an IPython shell locally, this is what I do:

After installing it with:

[code]
or:

[code]

I just type:

[code]

Then I obtain the following:

[code]

[2020-08-20 09:25] tkoyama010 commented on #49
@GuillaumeFavelier  This is exactry what I want to know. My concern was that it might require special procedures for pyvistaqt. Thanks.

[2020-08-20 14:12] larsoner opened #52 "MAINT: Release?"
It would be helpful to push out a release to get the latest icon updates (would probably fix [this segfault](https://travis-ci.org/github/mne-tools/mne-python/jobs/719590133#L5065) for example). I'm happy to do it if someone gives me permissions on PyPi. I'll just run a standard (for me at least) `python setup.py sdist bdist_wheel` and `twine upload dist/* --repository pyvistaqt --verbose` or so,

[2020-08-20 14:25] GuillaumeFavelier commented on #52
+1 for a release. Usually, @akaszynski takes care of it.

[2020-08-20 15:22] banesullivan commented on #52
I'd like to push out a new release of PyVista proper as well

[2020-08-20 15:42] akaszynski commented on #52
We've automated releases with azure pipelines, so making a release (should) be as easy as:
[code]

Our current tags are `0.1.0` and `0.1.1` and follow semantic versioning.  I've neglected the "v", and I've seen repositories use and not use it, so I think it's ok to exclude it.

We can follow pyvista's branching scheme as well if we wish to maintain a minor branch for patch releases for `pyvistaqt`

[2020-08-20 15:45] larsoner commented on #52
Probably need to change https://github.com/pyvista/pyvistaqt/blob/master/pyvistaqt/_version.py#L3, too, right?

[2020-08-20 15:47] larsoner commented on #52
(Okay for me to change _version.py, tag 0.1.2, and push?)

[2020-08-20 15:57] akaszynski commented on #52
Correct, and that's the only place where you need to change the version since that's read into `setup.py`.

If we're adding features and not just bug fixes, you're good to go to `0.2.0`.  Adding release notes on the releases page is always a good touch, but not necessary.

[2020-08-20 17:00] larsoner commented on #52
Argh, tried to push with tags but failed because I need to make a PR -- the protected branch wouldn't let me push the `_version.py` directly to `master`. I'll try with a PR and tag force push, but might have to end up tagging + versioning `0.2.1` instead of `0.2.0` because I assumed I could direct push...

[2020-08-20 17:34] akaszynski commented on #52
That's fine.  That's what patches are for.  Let me know if you need me to tag it and I'll get it done.

[2020-08-20 17:35] akaszynski commented on #52
I saw the tag.  I'll just retag.  The pipeline will just redo the release.

[2020-08-20 17:47] #52 closed

[2020-08-20 18:55] larsoner commented on #52
Indeed Azure seems to be having an issue with tags as of today

https://developercommunity.visualstudio.com/content/problem/1157675/tag-triggered-runs-failing-could-not-find-a-servic.html

[2020-09-02 22:40] AndrewAnnex opened #54 "black (blank) plot on ubuntu"
on ubuntu, with a recent install of anaconda in a new environment I just get a black screen for the plotting window, if I use the file menu in the background plotter menu to save a screenshot I can view a rendering but otherwise the screen is blank. I installed via the conda-forge, and I can see some differences in the dependencies in the environment yml in this repo and the feedstock, but not sur

[2020-09-03 00:01] AndrewAnnex commented on #54
I am wondering if this is due to pyqt/pyqt5 as pyqt installs some packages like sip from pypi and not the conda-forge

[2020-09-03 01:15] akaszynski commented on #54
Could you try installing `vtk==8.1.2`?  That's been causing some issues and it might be part of the problem.  Installing it through `vtk` should work.

Also, `pyqt5==5.11.x` has been the most successful for us, so we've gone with that, but you're free to choose a different version.

[2020-09-03 01:38] AndrewAnnex commented on #54
I’ll try the older vtk but I want to stick with what is available on the conda forge as much as possible so I think I am stuck with 5.12.3 or 5.9.

-Andrew Annex

[2020-09-03 13:31] AndrewAnnex commented on #54
@akaszynski I think there is a typo in either the pyvista or pyvistaqt conda forge yamls where "pyqt" and "qt" is being installed along with pyqt5, pyqt5-sip, pyqtchart, pyqtwebengine that are installed by pip in one or the other recipe. I wasn't able to get a working conda environment until I used pip only to install pyvista and pyvistaqt and necessary dependencies (see below), and when I did I d

[2020-09-10 08:49] GuillaumeFavelier opened #56 "Scene editor features"
I was thinking about some features that would be good to add in the scene editor.

* **icon** for each node of the scene (ideally, the icon could depend on the type of the node *e.g.* `Renderer`, `PolyData`, `UnstructuredGrid`...etc)

And some more properties could be exposed:

Renderer:

* 3-lights
* eye dome lighting
* interactor style
* background color (top and bottom)
* depth peeling
* anti-a

[2020-09-10 08:53] GuillaumeFavelier commented on #56
@pyvista/developers feel free to share your thoughts. For example, do you prefer to keep the scene editor very basic or you think it could be a good idea to continue adding features (and in this case, what would be the priority?)

[2020-09-10 16:13] akaszynski commented on #56
I think adding additional features to the scene editor to make a more fully featured UI is a great idea, and there's no reason not to add it provided that it can be turned off or ignored.  Not everyone will want/use these features, so we should make sure they're nested in some manner or we can toggle them.

Just trying to avoid feature creep here as some people might want a basic UI.  On the other

[2020-09-18 13:34] larsoner opened #57 "BUG: Reference cycle problem with multiple windows open"
This code:
[code]
Run with:
[code]
Seems fine:

![Screenshot from 2020-09-18 09-18-31](https://user-images.githubusercontent.com/2365790/93602098-233c9080-f990-11ea-8ad4-bb17847a1ccd.png)

But when you uncomment the `for plotter in plotters` line and unindent it so that all plots are created, then all plots closed (rather than one created, one closed, repeating) we get:

![Screenshot from 2020-09-

[2020-09-18 18:07] GuillaumeFavelier commented on #57
Could it be related to `pyvista` `_ALL_PLOTTERS` variable? What happens if you try `pyvista.close_all()` at the end of the script?

[2020-09-18 18:12] larsoner commented on #57
Same result (testing the PyVista minimal example, not the MNE ones, though I'm confident they will behave the same way):

![Screenshot from 2020-09-18 14-10-50](https://user-images.githubusercontent.com/2365790/93631010-e89b1e00-f9b8-11ea-87df-1a3e2db52d74.png)

[2020-09-22 02:44] tkoyama010 opened #58 "🆙 PyQt5 version up."
:up: Let's split PyQt5 version up Pull Request.

_Originally posted by @tkoyama010 in https://github.com/pyvista/pyvistaqt/pull/51#issuecomment-696480605_

[2020-09-30 18:19] rodrigomologni commented on #13
Hi @GuillaumeFavelier! Were you able to identify the source of the error? I'm curious and anxious for the solution. 😅

[2020-10-02 09:20] GuillaumeFavelier commented on #57
I tried resolving some reference cycles (decreasing the reference count: `self.interactor`, `self.frame`, `self.app_window`, ...), I tried force-freeing Qt objects ([`deleteLater()`](https://doc.qt.io/qt-5/qobject.html#deleteLater) and [`sip.delete()`](https://stackoverflow.com/questions/30241684/pyqt4-setparent-vs-deletelater/30245816#30245816)). I also looked at [`QVTKRenderWindowInteractor`](ht

[2020-10-14 15:39] GuillaumeFavelier opened #62 "Enable/Disable does not work?"
Calling `disable()` should stop plotter interactions but the following stay interactive:

[code]

This follows https://github.com/pyvista/pyvista-support/issues/260#issuecomment-708479972

[2020-10-14 16:41] banesullivan commented on #62
Ah, we may need to override those methods on the BackgrounPlotter to make sure the qtinteractor is disabled/enabled

[2020-10-15 13:26] GuillaumeFavelier commented on #62
Do you know how to achieve that? I tried #63 without success so far

[2020-10-16 02:53] GuillaumeFavelier opened #64 "Screenshot dimensions inconsistent between plotters"
**Describe the bug, what's wrong, and what you expect:**

The dimensions of screenshot images are different between `Plotter` and `BackgroundPlotter`.

-----

**To Reproduce**

[code]

-----

**System Information:**

[code]

[2020-10-16 14:15] #62 closed

[2020-10-17 19:57] math-artist opened #65 "Questions about implementing hover and timer functionalities"
Hi,

I am trying to implement a simple hover feature that could be used to execute a callback after the mouse is not moving and hover an actor for a certain period of time. My end goal: ray tracing on hover to display a scalar from a dataset on the fly. This could be flexible and work like the vtkBalloonWidget, or this could be a fixed 2D actor in the corner or just getting the result for somewher

[2020-10-20 18:40] math-artist commented on #65
thanks @banesullivan. I didn't find the option to transfer.

I had to abandon the idea of using vtkHoverWidget for now, just because I have no idea what is happenning. My fear is that using QtInteractor makes some VTK functions unusable.

The good news is that it was simple to implement with Qt.

Here's a preview of the result:
[https://www.loom.com/share/5039ec0f28fb49f0a96360137eeeba6c?from_reco

[2020-11-05 18:13] dominicjtriana opened #67 "Import Error 'vtkGenericRenderWindowInteractor' from 'vtkmodules.vtkRenderingCore'"
I've done some reading of other issues and it seems like this was an issue with vtk before the update to vtk 9.0.1 but even though I have vtk 9.0.1 I'm still getting this error. It's hard to tell if this was resolved or not.  Is PySide2 supported or not...?

I had an issue with PySide2 and my conda env which was fixed by installing the conda Pyside2 package.  I also installed the pyvistaqt conda p

[2020-11-05 22:10] nicobako commented on #67
So, I helped author #61. I updated the documentation to reflect the new qtpy support, but that only exists in the master branch, and will be available in the next release. If you use the master branch then pyvistaqt should work with qtpy.

 I only now realize that the documentation online is not in agreement with the current release of pyvistaqt.

[2020-11-05 22:16] dominicjtriana commented on #67
Thanks for the reply.  I made fresh env and didn't use conda all packages install with pip.  Also added the clang path.  Now my error is different, "unexpected type 'PySide2.QtWidgets.QFrame'" which I saw was a previous issue.

Is this all related?  If I use PyQt5 it seems to work well, so should I just not use PySide2?

[2020-11-05 22:18] nicobako commented on #67
Are you using the master branch of pyvistaqt, or are you using a version from pypi? In short, which version of pyvistaqt are you using?

[2020-11-05 22:20] dominicjtriana commented on #67
I'm using the pypi version atm.  I used conda-forge version too with similar issues.

[2020-11-05 22:26] nicobako commented on #67
I think the issue is that the qtpy support is currently only in the master branch and not in any official release in pypi. The qtpy functionality will be incorporated into the next official release (0.3.0, I think). Unfortunately, the documentation online reflects the master branch and not the latest official release... I'm sorry about that.

If you want to use qtpy, then you will need to install

[2020-11-05 22:30] dominicjtriana commented on #67
This does help a lot. At least I know I'm not going crazy...  If I wanted to use the master branch how would I do that?  I've very new to all of this.

[2020-11-05 22:47] nicobako commented on #67
`pip` supports installing packages directly from a git repository. To learn more see https://pip.pypa.io/en/stable/reference/pip_install/#git

The command for installing the master branch of pyvistaqt with pip would be: `pip install git+https://github.com/pyvista/pyvistaqt.git@master#egg=pyvistaqt`

[2020-11-05 22:53] dominicjtriana commented on #67
Problem solved!  Thus ends my two day struggle.  Jesus H Christ.  Thanks again.

[2020-11-05 22:53] #67 closed

[2020-11-05 22:54] nicobako commented on #67
I'm truly glad I could help! You may be the first person (besides me) to be using PySide2, so please let us know how it works for you. Your input is really appreciated.

[2020-11-09 11:20] T4mmi opened #69 "Crash at closing when embeded in some Qt application as child widget"
Hi all, I'm not sure this is the most relevant place to raise my issue but 'ill take my chances...

I'm trying to use `pyvistaqt.QtInteractor` as a 3D renderer widget inside a [QGIS](https://www.qgis.org/) plugin (Qt based application).
Works like a charm ... untill I close the main app window (which sould trigger deleteLater() on every children), there the QtInteractor closing throws me some exce

[2020-11-09 11:53] GuillaumeFavelier commented on #69
Hi and thanks for reporting your issue. It's definitely a strange one and since it is really related to memory, I'll take this chance to say that https://github.com/pyvista/pyvistaqt/pull/66 really helps to track VTK objects remaining in memory :+1:

This is the first time I see this error and after diving into C++ code, I can only assume it happens because `Delete()` is called twice? Sadly, this

[2020-11-09 13:51] T4mmi commented on #69
Thanks for the insight !
If multiple call to `Delete()` is an issue I'll look into it since it's highly probable that I wrongly managed deletions...
Will close if it sloves :)

[2020-11-09 15:43] GuillaumeFavelier opened #70 "window_size inconsistent between plotters"
This continues the discussion on: https://github.com/pyvista/pyvista/pull/995

In case of `Plotter`, the main window and render window are the same right? It's not the case for `BackgroundPlotter`, what should be the right "window" for `window_size`?:

[code]

[2020-11-09 20:33] dominicjtriana opened #71 "Errors when disabling eye dome lighting"
I'm getting this errors when I disable eye_dome_lighting in my plotter:

[code]
The program doesn't crash but throws these errors each time eye dome lighting is disabled.

Looking in the renderer code of pyvista this is the code block associated with eye dome lighting:
[code]

[2020-11-09 20:50] akaszynski commented on #71
Thanks for the bug report.  Can you please give us our `pyvista.Report`?  We're not sure this is due to the recent updates in `0.27.0`.

[2020-11-09 20:56] dominicjtriana commented on #17
I made another issue but I would add:
self.plotter.disable_eye_dome_lighting() throws errors but doesn't crash.  There are some negative visual artifacts as well.

[2020-11-09 21:11] dominicjtriana commented on #71
[code]

[2020-11-09 21:14] akaszynski commented on #71
Can you please upgrade to `pyvista==0.27.0` with:
[code]
Please see if that clears it up.

[2020-11-09 21:33] dominicjtriana commented on #71
Sadly, it did not.

[code]

[2020-11-09 21:38] dominicjtriana commented on #71
Sorry it didn't fix it.

[code]

[2020-11-09 22:18] akaszynski commented on #71
I have a feeling this is related to using Intel's GPU.  Do you have NVIDIA GPU handy?

[2020-11-09 22:43] dominicjtriana commented on #71
No sorry not easily.  Just to be clear the plotter works perfectly fine with eye_dome_lighting enabled and disabled, it's just an issue if you have it enabled in Qinteractor then disable it.

[2020-11-20 16:05] lmarschall opened #72 "Pyside2 Example Error"
Heys guys,

at the moment im trying to implement a 3d tool to extract surfaces from 3d objects. There fore i want to utilize pyvista and pyside2 and integrate pyvistaqt with qml.

I wanted to start by setting up this example from the homepage: http://qtdocs.pyvista.org/usage.html#example-pyqt5-pyvista-qtinteractor, but unfortunaly there's the following error:

"QWidget(parent: QWidget = None, flag

[2020-11-20 19:43] nicobako commented on #72
Hey, I would recommend reviewing #67 . I think you're having the same issue. If so, sorry, it's absolutely my fault.

[2020-11-21 00:18] lmarschall commented on #72
thank you for the fast response, so i used the pip install command provided in the issue, but my version seem not be changed, and there fore the error still occurs...

[2020-11-21 03:06] nicobako commented on #72
I'll look into this (hopefully) tomorrow and see if I can figure out what's going on.

[2020-11-21 20:51] nicobako commented on #72
@lmarschall, change your code to the following and you should be all good to go:

[code]

You'll see that the biggest difference is where I `import vtkmodules.qt`. This **must** be done after you have imported the `qtpy` stuff. This is because `qtpy` performs some really crazy stuff for making sure that everything is set up properly for the Qt bindings that you want to use. When you do this:

[cod

[2020-11-22 11:00] lmarschall commented on #72
hey nicobako,

i took your code and executed it with the following environment, unfortunately there's another error now :(

my environment:
python: 3.6.7
pyside2: 5.13.2
pyqt: 5.12.3
pyvista: 0.27.2
pyvistaqt: 0.2.0
qt: 5.12.9
qtpy: 1.9.0

my current error:
# add the pyvista interactor object
self.plotter = QtInteractor(self.frame)
QtInteractor cannot be converted to PyQt5.QtCore.QObject in this c

[2020-11-22 13:18] nicobako commented on #72
Your error message says it's trying to convert it to a pyqt5 object. Either you're not running the code as written, or you still have not pip installed the master branch of pyvistaqt. The qtpy functionality is currently only available from the master branch of the GitHub repository. Try uninstalling pyvistaqt, then reinstalling it from the master branch following the directions in #67.

[2020-11-22 13:31] lmarschall commented on #72
It works!

Sorry for the last error, that was me getting confused with all my testing environments. Finally i can proceed, thank you so much!
Maybe one last question, is there a plan to integrate qml view support into pyvistaqt?

[2020-11-22 13:48] nicobako commented on #72
I don't know anything about qml view... That's a question for the core developpers of pyvistaqt.

[2020-11-22 13:54] nicobako commented on #72
@lmarschall , do you feel comfortable closing this issue? Is your initial question resolved? If so, you can go ahead and close it yourself. Thanks!

[2020-11-22 14:54] #72 closed

[2020-12-10 10:09] T4mmi commented on #69
After some try/die investigations ... it seems to be linked with the interaction between `pyvista`/`vtk` and QGIS !  ...

how to reproduce *(inside QGIS Python console)*:
[code]
then quit QGIS, it should crash ...

[2020-12-10 10:28] T4mmi commented on #69
should add that `import vtk` works fine

[2020-12-30 22:08] m-bob opened #73 "Bug report: MacOS 10.15.7,PyVista QtInteractor example only works if window is hidden and then exposed"
Hi,

Thanks for this code. When I invoke the example code from the command line, the menu is unresponsive until I cover (at least partially) the window with another window and then expose it. After that the app works great.

The "Add Sphere"menu item appears and everything works as it should.

Any ideas? (Note: I don't see this behavior with my other python QT5 codes. However, my other codes use P

[2020-12-31 05:59] m-bob commented on #73
I learned somethings that help. qtpy is irrelevant: I get the same behavior if I use PyQt5 directly.

Also, there is no problem if you invoke the python script using pythonw. If you use python3 the problem persists. I have no idea why that's so, but using pythonw "solves" the problem.

[2020-12-31 12:58] nicobako commented on #73
Very interesting... Perhaps this is a *Mac-specific* issue?

Also, I have mentioned this in other issues, namely #72  and #67, but the *qtpy* functionality only exists in the master branch of *pyvistqt*, and is not yet available from the *pypi* package. I'm really sorry, I just haven't had the chance to update the documentation (perhaps I should do that now...). Make sure you have *pip install*-ed

[2020-12-31 14:27] m-bob commented on #73
Thanks, Nico.

At present, I have no real need to use qtpy -- and the use of pythonw
solves my problem, so I'm good.

Please feel free to close the issue.

Murray

On Thu, Dec 31, 2020 at 5:59 AM Nico Bako <notifications@github.com> wrote:

[2020-12-31 16:37] nicobako commented on #73
I actually can't close it... so if you feel like your problem is solved, go ahead and close it.

We really appreciate the feedback, and that you are using *pyvista* and *pyvistaqt*. Please feel free to reach out any time.

[2020-12-31 18:45] m-bob commented on #73
Will do, thanks!

On Thu, Dec 31, 2020 at 9:37 AM Nico Bako <notifications@github.com> wrote:

[2020-12-31 18:45] #73 closed

[2021-01-18 01:35] szsdk opened #74 "The Brief Example in the doc does not work as expected."
The example from the doc does not show anything unless this sentence
[code]
is added.

Maybe this line is omitted deliberately. But I would love to see some explanatory comments which would help other new people like me a lot.

[2021-01-19 01:55] akaszynski commented on #74
I think it matters if the example is being run from a script or not.  Were you running it as a script or interactively?

[2021-01-19 01:57] szsdk commented on #74
Yeah, I run it as a script.

[2021-01-19 02:18] akaszynski commented on #74
That's the issue then.  The `BackgroundPlotter` isn't designed to be a "blocking" operation.  This means that as soon as the main Python thread exits, it will kill the plotter as well.  When you use `plotter.app.exec_()`, it makes it a blocking operation, which stops the script from exiting until the plotter has exited.

We should indeed add this behavior to the docs.  @GuillaumeFavelier, think yo

[2021-01-19 09:39] GuillaumeFavelier commented on #74
Reminds me of https://github.com/pyvista/pyvista-support/issues/262

I'm on it!

[2021-01-20 16:06] #74 closed

[2021-01-21 08:27] condoratberlin commented on #17
Hi, I goning to embedd pyvistaqt in an gui framework an discovered some similar problems.
Especially `add_toolbars()` requires a `self.app_window` attribute, were the mainwindow is stored, but the pyvista QtInteractor don't allow to set such a parameter to the init method.

[2021-01-21 09:37] GuillaumeFavelier commented on #8
Closing by https://github.com/pyvista/pyvistaqt/pull/61

[2021-01-21 09:37] #8 closed

[2021-01-21 09:40] GuillaumeFavelier commented on #49
Closing by https://github.com/pyvista/pyvistaqt/pull/51

[2021-01-21 09:40] #49 closed

[2021-01-21 09:40] #50 closed

[2021-01-21 09:42] GuillaumeFavelier commented on #39
Closing by https://github.com/pyvista/pyvistaqt/pull/40

[2021-01-21 09:42] #39 closed

[2021-01-26 15:48] GuillaumeFavelier commented on #71
I can reproduce and the fix is easy, I'll take care of it.

[2021-01-26 18:07] #71 closed

[2021-01-27 05:38] tkoyama010 commented on #41
Close by https://github.com/pyvista/pyvista/pull/848#issuecomment-723535988

[2021-01-27 05:38] #41 closed

[2021-01-27 08:57] GuillaumeFavelier commented on #7
This is related to the `MultiPlotter` class in https://github.com/pyvista/pyvistaqt/pull/78

[2021-01-27 09:00] GuillaumeFavelier commented on #10
This is related to https://github.com/pyvista/pyvistaqt/issues/56

[2021-01-27 09:45] GuillaumeFavelier commented on #17
I agree with @condoratberlin in here, the `add_toolbars()` and `add_menu_bar()` functions depends on `app_window` internally. Those should not be declared as `QtInteractor` methods.

I see two ways to deal with this at the moment:

1) Just move those 2 to `BackgroundPlotter` (that's where they are used after all)
2) Find a way to refactor the functions to make them useful to `QtInteractor` (requir

[2021-02-09 09:42] GuillaumeFavelier opened #80 "PySide testing"
Now that `PySide6` has been released, it might be good time to add some Qt binding tests.

Related to https://github.com/pyvista/pyvistaqt/pull/61#issuecomment-706039944

[2021-02-11 12:42] #80 closed

[2021-02-11 22:09] #7 closed

[2021-02-15 02:25] szsdk opened #84 "How to set "off_screen" totally?"
I have a project depending on this wonderful project. Now I want to add some tests to my project. They are supposed to run automatically without a screen. I tried to set off_screen of BackGroundPlotter to True. But I found that this line
https://github.com/pyvista/pyvistaqt/blob/239a237a555fb2800273f6099509f056d7042052/pyvistaqt/plotting.py#L273
always gets running. Is it a bug or feature? If it i

[2021-02-15 09:34] GuillaumeFavelier commented on #17
Option 1 was implemented in https://github.com/pyvista/pyvistaqt/pull/78

[2021-02-15 09:35] GuillaumeFavelier commented on #17
As of now, is there any confusion about the methods of `QtInteractor`?

[2021-02-15 09:39] GuillaumeFavelier commented on #70
Closing because duplicate/closely related to https://github.com/pyvista/pyvistaqt/issues/64

[2021-02-15 09:39] #70 closed

[2021-02-15 10:22] GuillaumeFavelier commented on #84
First off it's called `off_screen` but there might be a better name for it. AFAIK, except if VTK itself is built to support this feature (for example `osmesa`: https://discourse.vtk.org/t/offscreen-rendering-opening-window/1660/2, https://discourse.vtk.org/t/black-image-when-using-offscreen-rendering-inside-qt-application/3935), a "screen" will be needed. This screen can be virtual that's why our

[2021-02-15 10:32] GuillaumeFavelier commented on #56
Just to clarify, I don't have any ETA on this but I would happy to help any volunteer with Qt and/or VTK experience who want to pick  something from the list :+1:

[2021-02-15 10:40] GuillaumeFavelier commented on #54
The `environment.yml` config file was updated [recently](https://github.com/pyvista/pyvistaqt/pull/81) so I think it's worth trying again on `master`(a0babd5ebbe37dea5bd525e6135e1b325106fc8d) @AndrewAnnex. Do not hesitate to let us know how it goes for you.

[2021-02-15 10:44] GuillaumeFavelier commented on #57
I think https://github.com/pyvista/pyvistaqt/pull/66 could help with this especially if a test is designed for it. I'll do my best to go back on it when I can to make it move forward :+1:

[2021-02-15 12:33] szsdk commented on #84
Now, I have a better understanding about the `off_screen` flag. In the beginning, The `update` method of `BasePlotter`

https://github.com/pyvista/pyvista/blob/fbb8570ebd942cdb82a0602daf78a8dff9e2c972/pyvista/plotting/plotting.py#L1166-L1180

gives me a wrong idea that `off_screen` is used for avoiding rendering. And this is why I found it a little bit strange when I saw `view_isometric` triggers

[2021-02-15 13:35] GuillaumeFavelier commented on #84
Good catch.

So when `off_screen=True`, the `update()` function is disabled because it depends on an internal attribute called `self.iren` (of type `vtkRenderWindowInteractor`) which is not initialized. This is arguably the limitation I'm talking about in https://github.com/mne-tools/mne-python/pull/8602#issuecomment-738033391.

But the rendering window itself (attribute `self.ren_win` of type `vt

[2021-02-15 14:37] szsdk commented on #84
Thanks for your detailed explanation. I am doing some development on a remote server. Sadly, My Mac does not cooperate well with it. And I cannot make pyvistaqt work through ssh. So I hope I could run some off screen test at least. But now it seems to be another died end. So according to your link, there would be a big refactor of pysitaqt?

[2021-02-16 02:17] szsdk commented on #84
Please feel free to close this issue.

[2021-02-16 06:11] #84 closed

[2021-02-16 08:12] GuillaumeFavelier commented on #84
No this part is not related to `pyvistaqt` sorry :sweat_smile:

[2021-02-17 17:21] rodrigomologni opened #86 "Plotter and QtInteractor are producing different results when reset_camera is None"
Methods like `add_mesh` and `add_point_labels` are producing different results by `Plotter` and `QtInteractor` when `reset_camera=None`. `QtInteractor` is resetting the camera and `Plotter` not. Both have `reset_camera=None` as default. I don't know whether it's a bug or intentional.

Codes for testing:
[testing.zip](https://github.com/pyvista/pyvistaqt/files/5997389/testing.zip)

Result of `Plott

[2021-02-17 20:43] rodrigomologni opened #87 "Unwanted memory usage by QtInteractor.add_point_labels"
## Problem

I identified unwanted memory usage by `QtInterator.add_point_labels`, which is causing serious slowness in the interaction:

![image](https://user-images.githubusercontent.com/1608652/108265321-5eadd780-7147-11eb-8a9e-e5a71856f83b.png)

For reference, `QtInterator.add_mesh` produces:

![image](https://user-images.githubusercontent.com/1608652/108262744-15a85400-7144-11eb-912f-26492fa21

[2021-02-17 21:12] akaszynski commented on #87
Issue is due to the usage of `vtkSelectVisibilePoints`, which is a memory/cpu hog and is likely not very efficiently implemented (or is hard to implement).  Setting `always_visible=True` should help with the memory usage.

[2021-02-17 23:11] rodrigomologni commented on #87
@akaszynski you're right! There is still memory usage. But now I can interact with the dataset. Thank you!

![image](https://user-images.githubusercontent.com/1608652/108279354-41830400-715b-11eb-8cb5-fc865f9ad306.png)

[2021-02-17 23:11] #87 closed

[2021-02-24 06:52] zoner72 opened #88 "pyvistaqt install"
Not sure if this can be classified as an issue.
On a clean windows 10 install I installed Anaconda (Anaconda3-2020.11-Windows-x86_64.exe)
After install, pyvista or pyvistaqt cannot be installed via the anaconda prompt (conda install -c conda-forge pyvistaqt) nor the Anaconda Navigator.
PIP install gives an SSL error.
I can install other packages.
Over the same network, my laptop (which has a previ

[2021-02-24 08:29] GuillaumeFavelier commented on #88
Hi @zoner72 , I'll try to help anyway

Could you share the log?

Are you behind a proxy? After a short search online, I found the following:

[code]

Reference: https://stackoverflow.com/questions/49943410/pip-ssl-error-on-windows

[2021-02-24 08:31] GuillaumeFavelier commented on #86
Thanks for reporting, I'll take a look later today :ok_hand:

I hope to reproduce it at least :sweat_smile:

[2021-02-24 08:41] zoner72 commented on #88
@GuillaumeFavelier

thanks for your help

I will retry to reproduce the PIP error when Im back home (currently at work) and post the log.
I initially I thought it was my internal network (new router), but after I tried on the laptop and the install went perfect I realised it must be pc related. I tried again on my work PC without problem.

Since it is a clean install with only Anaconda and Pycharm

[2021-02-24 09:18] GuillaumeFavelier commented on #88
This is good to hear and is useful as baseline.

Could be because of this. Although I just realize I missed the update of https://github.com/pyvista/pyvista/issues/1001, AFAIK `pyvistaqt` is not tested yet on `python=3.9.*`.

I just created a quick test env on my linux with:

[code]

And then I did:

[code]

I was surprised to see that my basic script works as expected but I can't guarantee the sa

[2021-02-24 10:11] GuillaumeFavelier commented on #86
I can reproduce the inconsistency:

PyVista | PyVistaQt
--|--
![image](https://user-images.githubusercontent.com/18143289/108985172-0586fc00-7691-11eb-8ef7-3f666061e916.png)| ![image](https://user-images.githubusercontent.com/18143289/108985152-fef88480-7690-11eb-9236-53a4b7fb7199.png)

<details>
<summary>PyVista</summary>

[code]

</details>

<details>
<summary>PyVistaQt</summary>

[code]

</deta

[2021-02-24 12:42] zoner72 commented on #88
**pip:**
[code]

**pip after stackoverflow solution has the same result (as above)**

**Anaconda:**
[code]

**Manual Install:**
great success!
I never realise this is how the manual install works, so will definitely bookmark this.
**pyvista** now shows in my Anaconda environment and can use **pyvistaq**t in my code.
However,  **pyvistaqt** does not show in my anaconda environment, not sure if this

[2021-02-24 12:42] #88 closed

[2021-02-24 17:01] akaszynski commented on #86
Issue seems to be related to resetting the camera.

[2021-03-02 06:22] zoner72 opened #89 "QT Designer Widget Reference"
Gday all

I just thought I would bother you with another little problem for which I cant seem to find a proper resolution.

I have created a QT Designer GUI which accesses a form. In this form, data can be uploaded.
After import, I want to create an image view of the data in a frame (or graphicsview).
I have created a **quickframe** from the class **Qframe** for this purpose as shown in the pic be

[2021-03-11 12:19] benjamindkilleen commented on #64
Has this issue been fixed in `BackgroundPlotter`? I had the same issue when trying to use `off_screen=True`. No matter what, the screenshot window_size was `(300, 300)`. This is an edge case, since I could just use `pv.Plotter()` in the `off_screen` case, but perhaps `BackgroundPlotter` should not support `off_screen=True`, directing the user to use `pv.Plotter()`.

[2021-03-11 17:19] GuillaumeFavelier commented on #64
AFAIK, it's still not resolved. In MNE-Python, where we use `BackgroundPlotter` currently, we had to use a "tweak" to [ensure the proper size of the 3d viewer](https://github.com/mne-tools/mne-python/blob/b707d37dc880205154773de703b2e47a438cc051/mne/viz/backends/_pyvista.py#L214-L241).

[2021-03-27 14:48] math-artist commented on #65
Closing this because the solution above works.

[2021-03-27 14:48] #65 closed

[2021-03-27 15:09] math-artist opened #91 "Implementation Question: Qt overlay for pyvistaqt"
This is more related to how you implemented an overlay with the vtk widget.

The goal is to have Qt widgets over the pyvistaqt widget, with transparency enabled. Example from an old unresolved vtk thread:
![image](https://user-images.githubusercontent.com/53714128/112724992-4a01f380-8eec-11eb-97c7-cff82152b068.png)

If you did it, how did you make things work with pyvistaqt?

I have done a few tes

[2021-03-29 19:51] math-artist commented on #91
If anyone could just say "yes" if they succeeded with the current version.

As per [http://vtk.1045678.n5.nabble.com/QT-Button-on-top-of-QVTKWidget-Mac-OS-td5740828.html](url)
then [https://stackoverflow.com/questions/26944831/using-qvtkwidget-and-qopenglwidget-in-the-same-ui](url)

it works by replacing the old `QGLWidget` with `QOpenGLWidget`

but it seems that we are currently using neither:
ht

[2021-03-30 12:58] math-artist commented on #91
Update: I got it to work partially. I was overthinking this. The QStackedLayout didn't work and I don't know why, but simply putting a widget inside the vtk widget works.

I have created a QStackedWidget inside the vtk widget instead.

**But no transparency.** I have seen examples in C++ where transparency is possible, so I am now trying to troubleshoot the transparency issue.

If I create a large

[2021-04-02 10:25] pascalisfort opened #92 "Closing problem when I use de right_upper X"
Hello, I use the pyvistaqt to visualize lidar mobil data. If I use the menu item "exit" the program close without any error, but when I use the X to close the window a list of error appear in loop indefinitly until I press ctrl-break.

Do you have an ideas why this appear?

this is a copy of what I see in the command prompt:

[code]

[2021-04-08 15:37] ffambri opened #93 "Multiplotter hangs and starts gradually filling the RAM (vtkAxisActor.cxx:1904 errors)"
Dear all,
I'm working on a python project with Visual Studio 2017, Win 10, Python 3.7 (64-bit). I only recently started using python, and only very recently started using pyvista (not expert in Qt).
I'm currently using the Multiplotter of pyvistaqt for generating multiple surface plots, and I find it really powerful if compared to the well known surface plot of matplotlib, from an aesthetic point

[2021-04-09 15:11] GuillaumeFavelier commented on #91
Thanks for sharing your insight @math-artist :+1: Although, I do not personally require this at the moment, I think it could be helpful for future reference. Do not hesitate to paste a `<detail></detail>` code snippet if you manage to get something working (or not FWIW), that would be greatly appreciated.

[2021-04-09 15:14] GuillaumeFavelier opened #94 "FEAT: PRE job"
I think that https://github.com/pyvista/pyvistaqt/pull/83 is a step in the right direction but it might not be enough. I think a PRE job that test against PyVista **master** instead of the latest release version would be good to have. Especially, to have a bit of leeway to digest any API changes etc.

[2021-04-09 15:22] GuillaumeFavelier commented on #92
Thank you @pascalisfort for reporting. What plotter do you use? Does it happen even for a minimal code snippet like the following:

[code]

I remember this happening in the past and I thought it was fixed for good :sweat:

Also, could you share your configuration:

[code]
It will be helpful to understand the underlying issue.

[2021-04-09 15:35] GuillaumeFavelier commented on #93
Hello @ffambri and thank you for reporting this issue. To be honest, `MultiPlotter` is still quite young so I'm glad to hear that someone had some success with it. Also it was designed to be a relatively light interface over `BackgrounPlotter` so I doubt the problem comes from there. We'll see.

For now, I'll assume that the `vtkAxisActor` error is the one causing the abnormal memory consumption s

[2021-04-09 16:41] ffambri commented on #93
Hello @GuillaumeFavelier
thank you for the quick and kind reply,
it appeared difficult to me to replicate this error in an external toy-code, then, I'm still not sure if it is an issue of pyvista or only limited to my workstation or related to the sanity of the input data (even if I never met this problem while using the standard plotter). The requested report is the following:
[code]
many thanks

[2021-04-09 22:31] ffambri commented on #93
ok, now I have a toy-code that gives me the same error.
I tested with three options: Multiplotter, Backgroundplotter, and the standard Plotter of pyvista. The same error is obtained on my workstation independently on the plotter.
It seems to be related to this kind of output data.

I sincerely hope it is not due to the local interaction between Windows/Visual-Studio/Python/PyVista/Qt on my machine

[2021-04-12 11:39] pascalisfort commented on #92
Thank you @GuillaumeFavelier
I try the minimal code you give me in your message and it works well...

This is my simplified code with the principal function i used for the viewing, can you have an idea where I begin to search to solve the problem. This is not a major problem but I interested to understand and solve it

[code]

And my configuration is:
----------------------------------------------

[2021-04-14 09:35] GuillaumeFavelier commented on #93
Sorry for the delay on this and thank you for sharing your MWE, I can indeed reproduce locally :+1:

Because this is not directly related to PyVistaQt, I will transfer this issue to PyVista in the hope that it gets more attention/feedback.

I'll still share the result of my experiments though :).  As far I can tell, this error:

[code]

is thrown by VTK in the `SetLabels()` function because it see

[2021-04-14 10:05] GuillaumeFavelier commented on #92
Thanks for sharing your code snippet. Hm... I see that you use `QtInteractor` and inherits from `QMainWindow` :thinking:

Would you give our `MainWindow` class a try?

[code]

It's actually very light and has a builtin `signal_close` that can be connected to the interactor as follows:

[code]

I look forward to your reply :)

[2021-04-14 10:56] GuillaumeFavelier commented on #89
Hello @zoner72 sorry for jumping in so late, did you find a solution?

I think I have an idea of you want to accomplish but I am not quite sure I understand the issue. If I understand correctly, you embed the `QtInteractor` in a QtDesigner UI and you want to avoid re-creating the interactor everytime you upload a dataset? :thinking:

[2021-04-15 02:09] zoner72 commented on #89
Hi @GuillaumeFavelier

Ha, yeah its been a wee while, not a problem though. I put this part to the side and started focussing on other parts of the code.
Your description is correct, that was/is indeed what I am after. Somehow I couldn't get it to work.

[2021-04-16 11:13] pascalisfort commented on #92
I try the MainWindow class from pyvistaqt and the same error appear, but when I add `  self.signal_close.connect(self.plotter.close)` every thing works.

Thank a lot for your help
Pascal

[2021-04-16 11:13] #92 closed

[2021-04-16 12:48] #94 closed

[2021-04-16 14:38] GuillaumeFavelier commented on #92
Great news! But it means that the doc should be updated then :)

[2021-04-17 01:51] rodrigomologni commented on #87
Hi @akaszynski!

Would you know why this problem occurs with `QtInteractor` but not with `Plotter`? What do you think about changing the default value of `always_visible` to `True`? Or at least add an allert in the documentation of `always_visible` about this issue? I don't think I would have solved this problem if you hadn't helped me.

[2021-04-29 13:05] GuillaumeFavelier opened #99 "BUG: conda"
Some failures have been detected for the `conda` jobs. Those use `PySide2` by default and the error seems to be related to Qt/QtPy:

[code]

[2021-04-29 14:01] GuillaumeFavelier commented on #99
It seems that installing `vtk` through `conda` now introduces a dependency to `qt` somehow. Is it something recent? I don't understand why this is necessary. But I believe this need to be addressed to order to have a clean env for `PySide`.

[2021-04-29 21:47] JBum21 opened #101 "Resolution issues using QtInteractor"
As stated above, I am having some odd resolution issues when adding meshes to a Qtinteractor.

Below you can see a screenshot demonstrating the poor resolution of the object when zoomed out (Most obvious when comparing "arc_length" resolution to the 3rd screenshot).
<img width="1566" alt="Screen Shot 2021-04-29 at 5 18 56 PM" src="https://user-images.githubusercontent.com/70919881/116622407-a785c7

[2021-04-29 21:50] JacobBumgarner opened #102 "Flashing issue when resizing QtInteractor."
### **Epilepsy warning**

When resizing a pyqt5 window, the QtInteractor window flashes.

https://user-images.githubusercontent.com/70919881/116622816-47dbec00-a913-11eb-8f78-e5bb370dfe92.mov

[2021-05-03 13:44] JBum21 commented on #101
It seems like this is an issue with PyQt versions 5.14 >=. See gitlab issue [#17953](https://gitlab.kitware.com/vtk/vtk/-/issues/17953#note_949062)

[2021-05-05 09:44] Jonas231 opened #103 "plotter.add_bounds_axes()"
Hello,
I upgraded pyvista from 0.26.1 to 0.29 and pyvistaqt from 0.2 to 0.3.
Now I cannot set "plotter.add_bounds_axes()" in pyvistaqt anymore.

AttributeError: BackgroundPlotter has no attribute named add_bounds_axes

How can I add "add_bounds_axes()" again in my plot?

Kind regards,
Jonas

[2021-05-05 09:50] Jonas231 commented on #103
Okay. I just rediscovered a workaround:
plotter.show_bounds(font_size = 20, color='red')

[2021-05-05 09:56] Jonas231 opened #104 "pyvistaqt plot in VisualStudio console application"
Hello,
I have a pyvistaqt plot which works fine and ist interactive when the script is started from spyder.
The same code when run from PyCharm works fine. At the beginning I had the issue that the pyvistaqt plot would build up and then close imediately. I forgot what I did to stop this.

Now I tried the same script in VisualStudio2019 Console application and again the pyvistaqt plot shows up just

[2021-05-05 18:43] JBum21 commented on #102
Similarly to #101, this seems to be due to issue with PyQt versions 5.14 >=

Not sure if I should mark this as closed or not... thoughts?

[2021-05-06 15:22] AngryGeology opened #819 "Transparent mesh/elements when using background (Qt) plotter*"
**Transparent mesh/elements when using background (Qt) plotter**

Problem:
When we plot a mesh inside of the Background Plotter we are seeing some strange transparency effects, despite not requesting any changes to the mesh opacity. This issues seems to be unique to Linux from my testing.

Expectation:
When plotting a mesh with either the pyvista.Plotter() or pyvistaqt.BackgroundPlotter() then you

[2021-05-07 08:28] GuillaumeFavelier commented on #102
Hello @JBum21, thanks for reporting, I was not aware of this one.

How did you figure out?

Could you share your report before closing? It would be helpful for future reference, thank you.

[code]

[2021-05-07 08:31] GuillaumeFavelier commented on #101
Closing as a duplicate of https://github.com/pyvista/pyvistaqt/issues/20

[2021-05-07 08:31] #101 closed

[2021-05-07 08:37] GuillaumeFavelier commented on #103
Indeed, since roughly `pyvista 0.27.0`, the function `add_bounds_axes()` has been changed to `show_bounds()` :)

For more infos on this, you can take a look at https://github.com/pyvista/pyvista/pull/141

Feel free to close if everthing works for you now :+1:

[2021-05-07 08:49] GuillaumeFavelier commented on #104
Good to know that it works for you on `Spyder` and `PyCharm`.

This is unfortunate, it could be helpful for future reference :)

Sadly I do not use `VisualStudio` but this issue reminds me of https://github.com/pyvista/pyvista-support/issues/262#issuecomment-729754418

I'm not familiar with how `VisualStudio` starts your code but maybe using either `ipython`, `python- i` or even modify your script

[2021-05-07 08:52] GuillaumeFavelier commented on #102
Actually, let's leave it open similarly to #20 since it's more a workaround than a real fix.

[2021-05-07 09:22] GuillaumeFavelier commented on #104
For more details on this, you can take a look at [`docs/usage.rst`](https://github.com/pyvista/pyvistaqt/blob/master/docs/usage.rst), in particular:

https://github.com/pyvista/pyvistaqt/blame/master/docs/usage.rst#L13-L20

[2021-05-07 12:17] JBum21 commented on #102
Sounds good. Figured this out due to experimentation with #101.

@GuillaumeFavelier
Since I have you here at the moment, can you help me with another question I have? Why is QtInteractor so much slower than the plotter?
Rendering a mesh using plotter takes around 10 seconds, whereas the QtInteractor can take north of 60s to unfreeze after adding the mesh. Is this just a known effect of integration

[2021-05-07 12:35] GuillaumeFavelier commented on #102
This is not something that I investigated because I did not notice such a big difference. `60s` instead of `10s` is huge! Could you give more details about your benchmark in a different issue? It would be very convenient if you could produce a minimum working example to reproduce :)

Hm... I guess it could be a delay in `paintEvent` or `updateEvent`.

[2021-05-07 12:45] JBum21 commented on #102
Yes I will work to get a reproducible build for you. The plotter vs. interactive load times become drastically more apparent when rendering meshes that take > 60s on plotter.

When loading glyphed meshes, I experience no difference between plotter/Interactor. However, my issue comes when I add the Multiblocks I’m using represent hundreds of spline.tubes; maybe it’s just an issue with my implementa

[2021-05-07 14:19] JBum21 commented on #102
@GuillaumeFavelier  Ok, I dramatized the 10s vs 60s. It's more like 10s vs 40s. I've further discovered that this issue seems to exclusively occur with .vtmb files, not .vtk files.

Please see the code here for event reproduction:
[code]

And please see [this link](https://github.com/JBum21/Plotter-vs-Background) to download my example file.
I've excluded tube ends (the file is too big, ~100mb), w

[2021-05-10 07:57] jorgensd opened #105 "Pyvistaqt incompatible with pyvista==0.30.0"
The following MWE works using `pyvista==0.29.1`:
[code]
but crashes using `pyvista==0.30.0` with the following:
- `PYVISTA_OFF_SCREEN=False`:
[code]
- `PYVISTA_OFF_SCREEN=True`
[code]

[2021-05-10 15:58] GuillaumeFavelier commented on #105
Hello @jorgensd and thank you for reporting this, do you mean `pyvista 0.30.0`? I saw it coming :)

This should be fixed in the recent PRs, mainly #97 and #95. We should release `0.4.0` soon to make it more convenient for everybody but in my opinion not until https://github.com/pyvista/pyvistaqt/pull/100 is merged.

So, a short-term solution for you would be to install the latest `master`(8eb4040)

[2021-05-12 11:53] GuillaumeFavelier commented on #105
@jorgensd, `pyvistaqt 0.4.0` is now released :+1:

[2021-05-12 14:01] jorgensd commented on #105
Tested locally, and pyvistaqt now works again!:) Thanks!

[2021-05-12 14:01] #105 closed

[2021-05-26 07:02] bistek opened #113 "QtQuick/QML"
Hello, does **pyvistaqt** provide a backend also for QtQuick/QML applications?

Thanks very much!

[2021-05-27 13:10] GuillaumeFavelier opened #114 "ENH: Qt 6"
`PySide6` and `PyQt6` have been released and now work is ongoing on [`pytest-qt`](https://github.com/pytest-dev/pytest-qt/pull/340) (actually [`4.0.0`](https://github.com/pytest-dev/pytest-qt/issues/352) is just around the corner) and [`qtpy`](https://github.com/spyder-ide/qtpy/pull/225) to catch up.

Now it seems the main blocker for `pyvistaqt` comes from `vtk` because the `QVTKRenderWindowInter

[2021-05-27 13:19] larsoner commented on #114
This might not be a bad idea, especially since Mayavi's version differs from VTK's (I think it's newer), and VTK's version is referred to as "contributed code" and not really supported:

- https://gitlab.kitware.com/vtk/vtk/-/issues/18195#note_949562
- https://gitlab.kitware.com/vtk/vtk/-/issues/17953

It would be great if we could at least fix these macOS bugs, and then preferably contribute them

[2021-05-27 13:42] GuillaumeFavelier commented on #114
Indeed, from (VTK's developper) **David Gobbi**:

[...] I honestly doubt that any of the VTK developers have time to maintain this class.

I was not aware of this, many thanks for the additional informations.

It's definitely worth taking a look if we seriously consider maintaining our own :+1:

I'm interested in working on a PR for this but not until the situation is settled for `qtpy`.

[2021-05-27 14:03] GuillaumeFavelier commented on #114
Another package to consider is `ipython`. In my experiments, I ran into:

[code]

[2021-06-08 16:49] larsoner opened #117 "Release 0.5?"
@pyvista/collaborators okay to release 0.5.0 now that pyvista 0.31 is out? Repos I work on are getting DeprecationWarnings due to the rcParams that were fixed a few weeks ago.

[2021-06-09 09:50] GuillaumeFavelier commented on #117
I'm +1 for this @larsoner, `pyvistaqt 0.4` just followed `pyvista 0.30` so I think this is a good idea to follow along the changes (especially if some adjustments were necessary in `pyvistaqt`).

[2021-06-09 10:04] GuillaumeFavelier commented on #113
Hello @bistek, unfortunately this feature is not currently supported.

I'm not familiar enough with `QtQuick` to evaluate the feasibility here but I think that it would be an interesting challenge to provide a compatible plotter or modify an existing solution :)

[2021-06-09 10:24] GuillaumeFavelier opened #118 "Update doc after qt backend transition"
PyVistaQt has been slowly transitioning from PyQt5 to a qt-backend agnostic interface but now the transition over so the documentation (`usage.rst` and `README.md`) needs to be updated. A contribution to make clear that there is no default Qt backend is welcome.

**Suggestion**

- Add an **installation** section

**Context**

Discussion about allowing different Qt bindings started slightly before

[2021-06-09 10:26] adeak commented on #118
Feel free to ping me if there's a corresponding PR and I can take a look.

[2021-06-09 10:27] GuillaumeFavelier commented on #118
Thank you, your help is much appreciated

[2021-06-09 15:12] larsoner commented on #117
@akaszynski I tagged 0.5.0 but do not have PyPi permissions, can you add me as an admin for pyvistaqt (Eric89GXL)?

[2021-06-09 15:16] akaszynski commented on #117
Added you as an owner, @larsoner.

[2021-06-09 15:20] larsoner commented on #117
Forgot it's done automagically by Azure

https://github.com/pyvista/pyvistaqt/blob/master/.ci/azure-pipelines.yml#L94

But probably good to have me as a backup in any case! :)

[2021-06-09 15:20] #117 closed

[2021-06-09 16:33] akaszynski commented on #117
Absolutely.  Bane and I did the same thing for pyvista.

[2021-06-22 05:44] ghazalbangash opened #119 "add_observer error on updating pyvista"
i want to use camera and axes which have been recently added to pyvista .since I am using background plotter(pyvistaqt) it would give me the following error on updating so that i could use Axes and camera : AttributeError: plotter has no attribute named _add_observer (checked it both with pyvistaqt 0.4.0 and 0.5.0)
it works fine with pv.plotter
ps : updating pyvista with pip didnt add camera and a

[2021-06-22 13:04] AndrewAnnex commented on #54
@GuillaumeFavelier I am actually still running into this issue, annoyingly I cannot downgrade vtk because 8.2 and 8.1.2 does not support python 3.8 so I am stuck with vtk 9.0.1unless I can safely downgrade the python version

[2021-06-22 13:11] GuillaumeFavelier commented on #54
So you upgraded `pyvista` and `pyvistaqt`? Can you share a minimal snippet of the code that reproduces the issue?

[2021-06-22 13:16] AndrewAnnex commented on #54
code snippet:
[code]

as some amount of time has passed here is an updated run of pv.Report:
[code]

[2021-06-22 13:17] akaszynski commented on #54
You can update to the latest dev wheels with `pip install vtk==9.0.20210612.dev0`.  We're working on a few bug fixes regarding these wheels, but it's quite stable outside of Mesa OpenGL in Windows.

[2021-06-22 13:30] AndrewAnnex commented on #54
@akaszynski yay it works!

Note for others the steps were to:
1) uninstall pyvista/pyvistaqt/vtk first with mamba/conda
2) pip install vtk==9.0.20210612.dev0
3) mamba install pyvista pyvistaqt --no-deps (otherwise it tries to install vtk from conda-forge)

Although my immediate issue is solved, eventually I would like to be able to continue to rely on the conda-forge distribution to make my conda

[2021-06-22 13:48] akaszynski commented on #54
Thanks for posting the steps to your workaround.

We're going to wait some time until VTK either releases stable wheels or, should that take longer than a month or two, add in notes regarding the workaround you noted.

[2021-06-23 06:51] ghazalbangash commented on #119
i dont know if i have been making a mistake but weird enough copying the plotting folder of pyvista package in my libs directory solved my problem :/
if i am guessing correctly it has something to do with the __files in the plotting like the __vtk.py file
thanks a lot again and sorry for asking so many questions

[2021-06-23 06:51] #119 closed

[2021-06-25 15:07] jeffreypaul15 opened #121 "Window automatically closes on running example"
On running
[code]
This window pops up for a second and closes automatically
![image](https://user-images.githubusercontent.com/50923538/123445064-0ee48e80-d5c7-11eb-9c48-4d27d57c5d9e.png)

System Information :
--------------------------------------------------------------------------------
  Date: Fri Jun 25 15:04:29 2021 Coordinated Universal Time

                OS : Windows
            CPU(s)

[2021-06-25 15:12] jeffreypaul15 commented on #121
My apologies, I didn't read docs on adding `plotter.app.exec_()`

[2021-06-25 15:12] #121 closed

[2021-07-29 03:09] colosteve opened #122 "Wrong co-ordinates captured from PyVistaQt window in QStackedWidget"
I would like to use a simple point picker by right clicking on a mesh.  The example here in issue 239 works well: https://github.com/pyvista/pyvista-support/issues/239

However, when this code is incorporated into PyQt5 where the plotter has been embedded as a QStackedWidget, the captured mouse co-ordinates are wrong.  I have added a line to the Issue 239 example above to plot the point of the mou

[2021-07-29 03:13] akaszynski commented on #122
Strange indeed.  I'm not sure what magic is going inside Qt, but my guess is it's passing events from the widget to VTK and the coordinates aren't being transferred properly.  If you can figure out how they're being miss-translated, we could add a hook into `pyvistaqt` that could translate coordinates properly.

[2021-08-04 23:24] adamgranthendry commented on #13
@rodrigomologni Are you able to upgrade to `python 3.8`? I only ask because it might help if you are able to upgrade. I am unable to reproduce your results on Windows 10 with Python 3.8.

[2021-08-05 12:54] rodrigomologni commented on #13
Hi @adamgranthendry! I also couldn't reproduce the error, even in Python 3.7. However, I'm using the current versions of Python 3.7, PyVista, VTK, PyQt5 etc. Thank you!

[code]

[2021-08-05 15:42] adamgranthendry commented on #13
@rodrigomologni That's great news! So, do I understand you correctly, is your problem solved now?

[2021-08-05 15:45] rodrigomologni commented on #13
Yes! We can close this issue. :wink:

[2021-08-05 15:45] #13 closed

[2021-08-26 15:17] banesullivan opened #123 "AttributeError: type object 'ItemDataRole' has no attribute 'UserRole'"
[code]

<img width="320" alt="PastedGraphic-1" src="https://user-images.githubusercontent.com/22067021/130989734-c36b2748-5852-42c1-a933-d88018f99478.png">

[2021-09-02 08:22] GuillaumeFavelier commented on #114
Quick update: the issue with `ipython` is [solved in `7.27`](https://github.com/ipython/ipython/issues/12991#issuecomment-910380456)

[2021-09-02 20:21] bistek opened #124 "plotting points/vertexes"
Hello, I add also here an issue I already posted [on pyvista-support as #497](https://github.com/pyvista/pyvista-support/issues/497).

I have problems plotting points from a bare VTK PolyData. I was wondering if:

- vertex cells are requI ired or optional to have a valid point-cloud polydata
- is there some known problem plotting points with pyvistaqt
- there is some particular option I should be

[2021-09-02 21:43] bistek commented on #124
Solved as explained in [pyvista-support #497](https://github.com/pyvista/pyvista-support/issues/497).

[2021-09-02 21:43] #124 closed

[2021-09-06 21:48] adam-grant-hendry opened #125 "Slow File Loading"
I am trying to create a Qt GUI with `pyvista` and would like to implement Progress Bars when loading large file stacks. I have succeeded with the code below, but it is much slower than ParaView.

Does my implementation need improvement, or could it be that ParaView is somehow loading files in parallel? I have a folder of 1,174 DICOM files, each 5.96 MB. These are simply raw DICOM files (`*.dcm`),

[2021-09-07 04:53] adam-grant-hendry commented on #125
**Update #2: 06-SEP-2021**

I used `cProfile` to break down issues in the plotting (see [Profiling and optimizing your Python code | Python tricks by  Sebastiaan Mathôt][1] for details.

I pulled plotting into the `View` class `_on_import_result` method and added a top level decorator function `profile` in `view.py`

**Code:**

[code]

[code]

### Output:

[code]

  [1]: https://www.youtube.com/wa

[2021-09-07 04:55] adam-grant-hendry commented on #125
@akaszynski @banesullivan @larsoner Can we run this code with a demo DICOM set on a Linux/Mac machine and I'll run it on my Windows machine and see if we get the same performance hit? I've tried `vtk-9.0.3` and `vtk-9.0.1` and both have the same poor performance.

[2021-09-07 20:20] akaszynski commented on #125
@adam-grant-hendry,

Yes, I'll try this in the evening.

[2021-09-09 11:12] dephora commented on #69
@T4mmi  - Also running into this issue in QGIS, have you had any luck ?

[2021-09-09 11:16] dephora commented on #69
@T4mmi - Running into this issue in QGIS as well, any luck?

[2021-09-09 12:10] T4mmi commented on #69
Actually we didn't ... 😞
So we got rid of `pyvista` layer and manage to directly wrap a `vtkRenderer` inside QGIS ...

[2021-09-09 12:14] dephora commented on #69
Oh bummer, will give vedo a go, anticipating similar results then likely do the same as you.

Appreciate the quick response and tip!

[2021-09-11 18:01] dephora commented on #69
vedo works without issue leading me to believe it's not a vtk issue. Will try to track down why it works and why pyvista is crashing.

[2021-09-15 15:50] Huite commented on #69
Just to leave some potentially helpful ideas: rather than skipping pyvista entirely, it's not too difficult to communicate between two Python interpreters: just use a socketserver and communicate. This requires starting a separate Python interpreter, but this is not too difficult too manage (once you've figured out all the subtleties with environmental variables, and how (not) to inherit them).

O

[2021-09-15 22:34] adam-grant-hendry commented on #125
@akaszynski Let's close this one and move it over to [PyVista add_volume: Garbled Output, Much Slower than ParaView, & Memory Hog](https://github.com/pyvista/pyvista-support/issues/500)

[2021-09-15 22:34] #125 closed

[2021-09-16 07:33] T4mmi commented on #69
Hi,
thanks for the feedback ... but in our end, the point is to bring (a rather small part of) paraview functionnalities to QGIS for end users that are somehow 'allergic' to cmd lines 😉
Anyway with the efforts of `vtk` to wrap everything in python we really feel that `pyvista` is no longer a good adding since it brings too much complexity in code maintaing.

BUT we still use it for 'power users' c

[2021-09-16 13:43] dephora commented on #69
@T4mmi As for the vedo link with pyvista - not that I know of. Funny you mention Paraview as we plan on using it and others which is one of the reasons I'd rather stay with pyvista as it's created / maintained by Kitware employees (or at least one).

[2021-09-27 02:56] Panjichuan commented on #123
I also encountered this problem. Have you found a solution？

[2021-10-04 10:08] GuillaumeFavelier commented on #123
What version of `pyqt5` do you use @ghost?

I checked locally and indeed `UserRole` is not available in the `enum ItemDataRole` for `PyQt5` `5.9.2` or `5.10`. I think the easiest solution is to update `PyQt5`. I did not check all of the versions but I can confirm that `UserRole` is present from `PyQt5>=5.12`.

Feel free to let me know if it works for you @banesullivan, @ghost.

This item is necess

[2021-10-12 15:35] math-artist opened #128 "Flickering with QSplitter"
I have this bug for a long time, but only narrowed it to QtInteractor recently.

From the moment that I have QtInteractor inside a QSplitter, resizing the sections with QSplitter causes heavy flickering on the other widgets in the other sections.

For example, I have QtInteractor  on the left and a form on the right.  Normally, only the left side of the QLineEdit is resizing, and the right side is

[2021-10-28 10:50] andrea-bistacchi opened #129 "remove_actor"
Hello, I do not understand whether `plotter.remove_actor('some actor')`, where `plotter `is a `pvQtInteractor()`, really frees the memory from the actor or just hides it. This seems to be the default in VTK, but it is a non-efficient behaviour that should be avoided in some interactive applications.

Thanks very much!

[2021-11-17 18:32] BarryLiu97 opened #130 "BackgroundPlotter doesn't show when use plotter.show()"
Hi, this is my code
[code]
I set the BackgroundPlotter ```show=False```, according to the doc, after I call ```plotter.show()```, it should show, but not.

[2021-11-17 18:39] BarryLiu97 commented on #130
OK, I use ```plotter.app_window.show()``` and it shows again. But when I call it again after closing the window,
it's got nothing like this
![image](https://user-images.githubusercontent.com/65115609/142261981-73f20cf7-3680-4c32-bc50-f84abd7cfe38.png)

[2021-11-21 16:04] JacobBumgarner commented on #91
@math-artist Would you mind describing more how you did this? How did you create a stacked widget inside of your QtInteractor? I'm hoping to overlay a small camera circle button onto the plotter for users to take a screenshot.

[2021-11-29 11:57] p-j-smith opened #131 "Allow linking views across different Plotters"
Issue moved from pyvista: https://github.com/pyvista/pyvista/issues/1792

**Describe what feature you would like added.**

I have two different BackgroundPlotters that I would like to link the views of. I can't use a MultiPlotter because I need the Plotters to be in different dockable windows. So it would be really useful if it were possible to link the views of two different Plotters. Maybe by do

[2021-11-30 02:56] ventorvar opened #132 "Cannot see vtkCameraOrientationWidget when using QtInteractor"
Initially, I thought this was a `pyvista` issue overall however after getting some [feedback](https://github.com/pyvista/pyvista/discussions/1892) it looks like the `vtkCameraOrientationWidget` works just fine with base `pyvista`.  Using the following minimal example, I get an expected Qt window with the plot inside, but the camera orientation widget is not displayed.

[code]

![image](https://use

[2021-12-01 14:44] #132 closed

[2021-12-02 03:20] akaszynski commented on #132
BTW, this feature will be added in https://github.com/pyvista/pyvista/pull/1899 and will work natively in a `pyvistaqt.BackgroundPlotter`.

[2021-12-07 19:08] larsoner opened #134 "Q: Release"
Any objection to making a release so that we can get one out that includes https://github.com/pyvista/pyvistaqt/pull/127 ?

[2021-12-08 07:03] akaszynski commented on #134
No issues. @GuillaumeFavelier do you want me to take care of that?

[2021-12-08 08:06] GuillaumeFavelier commented on #134
I have no objection either.

You can go ahead @akaszynski :+1:

[2021-12-13 18:59] banesullivan commented on #134
Do we not have automated deployments for this?

[2021-12-13 19:00] banesullivan commented on #134
Circle CI should handle it: https://github.com/pyvista/pyvistaqt/blob/3ab85370a67d0613b9488272f935442b6e29ef61/.ci/azure-pipelines.yml#L94

Just bump the version and push a tag and all should be handled

[2021-12-14 12:48] helene-t opened #135 "Overlayed meshes display bug"
On some computers, I have observed a display bug when overlaying meshes (the second mesh disappears behind the first one, although it is in the foreground):

![image](https://user-images.githubusercontent.com/60749452/146000545-8fc4b68f-d8b8-4615-81cb-a3302fe4e370.png)

I tried to switch the order in which I add the meshes, to play with opacity and transparency, but nothing seems to solve the bug.

[2021-12-14 13:21] #131 closed

[2021-12-14 15:06] GuillaumeFavelier commented on #134
If you do not mind to wait a bit longer, I would like to spend a bit more time on https://github.com/pyvista/pyvistaqt/pull/136 before the release. It's all about having more reliable CIs so I think it benefits the projects :pray:

[2021-12-14 16:21] larsoner commented on #135
Opacity of overlapping meshes is a tricky problem. Some graphics cards deal with it better than others.

You can try enabling depth peeling (`plotter.enable_depth_peeling(100)` or so) to see if it helps

[2021-12-15 16:30] GuillaumeFavelier commented on #134
I had to push a last minute hotfix for Azure because of `vs2017-win2016` (terrible timing).

I updated `pyvistaqt/_version.py` and pushed the tag `0.6.0` on `main`, tt should be getting deployed right now! :+1:

[2021-12-15 16:30] #134 closed

[2021-12-16 13:02] helene-t commented on #135
Depth peeling makes the second mesh disappear (whatever the value used)

[2022-01-10 16:13] p-j-smith opened #141 "Inaccurate docstring for the 'auto_update' argument of QtInteractor, BackgroundPlotter, and MultiPlotter"
The docstrings for these classes states:

[code]

However, in [the implementation of `auto_update`](https://github.com/pyvista/pyvistaqt/blob/main/pyvistaqt/plotting.py#L272-L282), the value of `auto_update` is raised to the power of `-1`:
[code]
meaning that `auto_update` actually specifies the number of updates per second (larger values = more updates), rather than the update rate in seconds (la

[2022-01-18 13:18] GuillaumeFavelier commented on #141
I agree with you @p-j-smith, it can be misleading. I think the documentation can be updated to clarify this.

cc @hoechenberger

[2022-01-18 13:34] hoechenberger commented on #141
+1 this is confusing; in fact, @GuillaumeFavelier and I were tripped by this just a few days ago!

[2022-02-02 18:39] p-j-smith opened #144 "Difficulty resizing/moving QDockWidgets in an app that contains a Background Plotter. MacOS only."
Hi,

I've run into an issue with moving and resizing `QDockWidgets` if I include a `BackgroundPlotter` in an application. Adding a plotter makes it slow to resize dock widgets, and sometimes the dock doesn't resize at all. Moving a dock is also difficult, with the window often freezing in place.

Here are four docks with `QLabel`s:

https://user-images.githubusercontent.com/29753790/152214194-d1bb

[2022-02-03 09:40] p-j-smith commented on #144
I think the issue is with vtk, as the problem is there when adding a `QVTKRenderWindowInteractor` widget.

[2022-02-03 09:40] #144 closed

[2022-03-01 16:00] Vysakh5391 opened #148 "Change name of the polydata in the BackgroundPlotter editor"
Is there a way to change the name of the `polydata `in the `backgroundplotter `editor?
![image](https://user-images.githubusercontent.com/47824150/156203378-1c2b40ed-8f78-4535-b370-90f5149efed6.png)
Any help would be appreciated!
Thanks!

[2022-03-01 16:44] larsoner commented on #20
Just a cross-ref here that we should check if having our own RWI in #149 or moving to PySide6 (or PyQt6 eventually?) magically takes care of this issue.

[2022-03-01 20:56] #148 closed

[2022-03-07 08:24] Xiaoyuew commented on #54
I encountered same problem, could you please help me? I have:
Python 3.8.10
vtk==9.1.0
PyQt5==5.15.6
pyvistaqt==0.7.0
pyvista==0.33.3
I tried the above solutions but didn't help. I cannot find vtk==9.0.20210612.dev0.
The strange thing is the above versions work on my Windows system but do not work on Ubuntu. Any idea of why is that?

[2022-03-07 09:19] Xiaoyuew commented on #54
I solved the black screen problem by cancelling anti-aliasing, but I don't understand why

[2022-03-07 11:57] Xiaoyuew commented on #54
Yes I use MESA. If it is a problem of GPU I could probably solve it. I will be changing my GPU tomorrow.

[2022-03-08 01:56] Xiaoyuew commented on #54
I have changed to a NVIDIA card and the anti-aliasing no longer causes black screen. Thank you! @GuillaumeFavelier

[2022-03-10 13:15] GuillaumeFavelier commented on #20
Well this is encouraging:

https://doc.qt.io/qt-6/portingguide.html#high-dpi

[2022-03-10 13:31] #114 closed

[2022-04-01 13:12] saskra opened #158 "QtInteractor does not respond"
I have a software that works fine on Windows. Unfortunately, I have the better hardware on my Ubuntu server and it does not work there. With the tests below I was able to trace it back to the above class. There is no crash and no error messages, the program just does not go on. Does anyone know a solution? By the way, my environment contains the following packages: https://github.com/JacobBumgarne

[2022-04-05 13:18] larsoner commented on #15
I think this was fixed by VTK in https://gitlab.kitware.com/vtk/vtk/-/merge_requests/7420 / 9.1, so we might as well close I think

[2022-04-05 13:18] #15 closed

[2022-04-05 13:33] larsoner commented on #20
... and FYI the upstream issue is https://gitlab.kitware.com/vtk/vtk/-/issues/17953. If we do manage to fix this by messing with `rwi.py`, we should port the changes upstream to Kitware.

[2022-04-05 14:20] GuillaumeFavelier commented on #148
@Vysakh5391 you probably found the solution yourself but for future reference, I will still explain it.

It is possible to use the `name` parameter of the `add_mesh()` function to set the name of a dataset:

[code]

![image](https://user-images.githubusercontent.com/18143289/161775188-bf6e2a55-d78b-488c-8a21-6a011b26b674.png)

[2022-04-05 15:07] saskra commented on #158
Thank you very much, that was indeed the problem! Making the argument mandatory, or at least issuing a warning when it's not used, would certainly help. (Funny only that it works on Windows and Mac anyway).

[2022-04-05 15:07] #158 closed

[2022-04-07 17:16] larsoner commented on #20
This seems to work fine on PySide6 at least, but still not PyQt5. Maybe we can just hope to move to full support for PySide6 (and PyQt6) and just not worry about this at some point...

[2022-04-07 17:42] larsoner commented on #20
... since it works on Qt6, I'll close this as wontfix, same as in the upstream https://gitlab.kitware.com/vtk/vtk/-/issues/17953

[2022-04-07 17:42] #20 closed

[2022-04-12 02:34] 2umbrella commented on #122
I have the same problem. Do you have a solution for this problem?
The problem is that the coordinates obtained by pick_click_position of pyvista are not accurate.

[2022-06-10 19:13] adam-grant-hendry opened #162 "Feature Request: Add a py.typed marker"
`pyvistaqt` has some partial typings, but no `py.typed` marker or stubs, so `mypy` is not able to recognize the type hints in the subpackages that have them since `pyvistaqt` is not `PEP-561` compliant.

It would be great to add a `py.typed` marker to the package: [Creating PEP 561 compatible packages](https://mypy.readthedocs.io/en/latest/installed_packages.html#creating-pep-561-compatible-packag

[2022-06-12 00:25] adam-grant-hendry opened #163 "Bug: `mypy` cannot access `QMainWindow` methods from `MainWindow`"
`__init__.py` imports `MainWindow` from `plotting`. However, `MainWindow` is fully exported from `window`, not `plotting`. While not incorrect python, this causes mypy to not be able to see `QMainWindow` super class methods when creating `pyvistaqt.MainWindow` instances.

e.g.

[code]

Also `mypy<=0.961` does not yet fully support conditional imports (see [Issue 1297](https://github.com/python/myp

[2022-06-18 22:15] tkoyama010 opened #166 "Move Windows CI Tests to GH Actions"
In the future, we need to do https://github.com/pyvista/pyvista/pull/2083. But that will be another PR.

_Originally posted by @tkoyama010 in https://github.com/pyvista/pyvistaqt/issues/164#issuecomment-1159573803_

[2022-06-26 01:12] adam-grant-hendry opened #168 "Bug: Circular Import - `pyvista.FieldAssociation`"
When attempting to run `pytest` on version `0.9.0`, testing will not start because `conftest.py` imports

[code]

which leads to `pyvista/core/filters/data_set.py`, which imports

[code]

which cannot be imported because `pyvista` is only partially initialized at this stage.

[2022-06-26 17:47] adam-grant-hendry commented on #168
I believe this was an error on my end while creating a PR in my forked repo. I've re-forked it and this issue has not appeared, so I am closing it. If it resurfaces for some reason, I will reopen it.

[2022-06-27 16:22] adam-grant-hendry opened #169 "FR: Clarification of Packages Used for Testing"
Please be aware of this issue that I have submitted to `pytest-qt`:

[BUG: Multiple PyQt/PySide Versions Not Supported #437](https://github.com/pytest-dev/pytest-qt/issues/437)

It would be good to add to our `CONTRIBUTING.md` documentation that testing will fail if multiple `PyQt`/`PySide` packages are installed at the same time.

[2022-06-28 09:00] #141 closed

[2022-06-28 18:27] larsoner commented on #57
Pretty sure this is VTK+Qt's problem, not PyVista's. :(

Closing for https://gitlab.kitware.com/vtk/vtk/-/issues/18588 but I'll try to remember to report back here if it's ever fixed

[2022-06-28 18:27] #57 closed

[2022-07-07 12:19] MarkusZimmerDLR opened #192 "disable / pause rendendring"
Dear pyvistaqt team,

I set up an interactive application using your pyvistaqt library.

[code]

Now, for an update of the whole scene, I need to clear and readd all meshes (~200) individually (iteratively).
However, as `plotter.show()` has already been called, each `plotter.add_mesh(egg)` call triggers the upstream update and the whole scene is being rendered. Thus, the whole scene is rendered ~2

[2022-07-07 12:44] larsoner commented on #192
Have you tried passing `render=False` to `add_mesh` and `remove_actor` (if you also do a remove)?

https://docs.pyvista.org/api/plotting/_autosummary/pyvista.Plotter.add_mesh.html
https://docs.pyvista.org/api/plotting/_autosummary/pyvista.Plotter.remove_actor.html

[2022-07-07 13:51] #192 closed

[2022-07-07 13:53] MarkusZimmerDLR commented on #192
Awesome! This did the trick. Afterwards, one simply calls  `plotter.render()` and the scene is updated.
So easy and right in front of my eyes...

Thanks for the lighting fast response!

[2022-07-10 18:03] adam-grant-hendry opened #196 "QPainter::begin: Paint device returned engine == 0, type: 1"
### Discussed in https://github.com/pyvista/pyvistaqt/discussions/194

<div type='discussions-op-text'>

<sup>Originally posted by **adam-grant-hendry** July  8, 2022</sup>
When using `QtInteractor` (Windows 10 with PySide6)

[code]

The error:

[code]

appears every time the screen is updated (even if `plotter.show()` is placed after `window.show()`.

From the [PySide6 QPaintEngine docs](https://

[2022-07-10 18:06] adam-grant-hendry commented on #196
This same issue first appeared in the `mayavi` issue [Problem when using QGLWidget #969](https://github.com/enthought/mayavi/issues/969#).

[2022-07-10 18:07] adam-grant-hendry commented on #196
@adeak @tkoyama010 @akaszynski @larsoner Do you have any idea on how to approach this one? FYI, this might be a great one to debug at SciPy in a sprint.

[2022-07-10 18:19] adam-grant-hendry commented on #196
@banesullivan @GuillaumeFavelier Also shamelessly pinging you for the above issue as well 😆

[2022-07-10 18:27] adam-grant-hendry commented on #196
Linking as well the VTK issue I posted for this: [QPainter::begin: Paint device returned engine == 0, type: 1 #18606](https://gitlab.kitware.com/vtk/vtk/-/issues/18606)

[2022-07-11 22:15] adam-grant-hendry commented on #196
@akaszynski @larsoner @adeak @tkoyama010 @banesullivan @GuillaumeFavelier Copying here as this affects us as well:

An important note on differences between `QGLWidget` and `QOpenGLWidget`:

- [Relation to QGLWidget](https://doc.qt.io/qt-5/qopenglwidget.html#relation-to-qglwidget)

The key takeaway is this:

@wmvanvliet I suspect this is why switching back to `QGLWidget` worked for you. The `QVTKR

[2022-07-13 01:39] adam-grant-hendry commented on #196
@akaszynski @larsoner @adeak @tkoyama010 @banesullivan @GuillaumeFavelier See [Problem when using QGLWidget #969](https://github.com/enthought/mayavi/issues/969#) for more details (my troubleshooting steps), but in summary:

If I add

[code]

to my `Window.__init__()` method, this resolves the errors:

[code]

so the final MRE is now

<details>
<summary>Final MRE</summary>

[code]
</details>

I'm

[2022-07-13 06:15] tkoyama010 commented on #196
Sorry for the delay in responding. All the maintainers have been focused on preparing tutorials for Scipy2022 for the past few days. Have you solved the problem, and we are waiting for your PullRequest.

[2022-07-13 14:51] larsoner commented on #196
Sorry for the slow response, I was out for a bit. There have been a lot of messages about this, @adam-grant-hendry can you try to distill to what changes pyvistaqt needs to make? It seems like maybe it's just the `if os.name == 'posix'` conditional, is that right? Then maybe some documentation somewhere about how to specify formats in case of incompatibility...?

[2022-07-13 19:03] larsoner commented on #196
@adam-grant-hendry can you add a PR for this to pyvistaqt? Then we can see if CIs are happy. If they are, then a PR to vtk and then mayavi as well would be good -- the former because we (pyvistaqt) really want our .py file to just be a copy of the upstream vearsion, and the latter because it would be good to fix Mayavi as well!

[2022-07-13 21:44] adam-grant-hendry commented on #196
@larsoner Yes, but I might not be able to by the sprints (I’ll try though). I’m AFK right now. Otherwise, I can on Monday.

One thing I would ask - if possible, at the sprints, please discuss with the CI’s any ramifications from using native widgets over alien widgets.

There are performance costs to using native widgets.

[2022-07-14 13:42] larsoner commented on #196
I assume you mean "maintainers" here... when I say "Then we can see if CIs are happy" I am anthopromorphizing the continuous integration / unit tests that we run, not talking about actual people :)

You mean the currently used `QVTKRenderWindowInteractor` versus the unused `QVTKOpenGLWidget`? It would be great to use the latter if/when we can, but my guess is that in needs to be compiled against a

[2022-07-14 23:50] adam-grant-hendry commented on #196
Sorry, I think you may have meant `QVTKOpenGLWidget`, when I was speaking of `QOpenGLWidget`.

My point in requesting the docs be mulled over was that I don’t know if there’s a better way to achieve what I did or if continuing to use native widgets is okay.

Trying to rewrite `rwi.py` sounds like a big task, Im not fully sure what’s involved, and I just want to be cognizant of the differences beca

[2022-07-15 16:51] adam-grant-hendry commented on #196
@larsoner Sorry for my last two comments. I didn’t read your response clearly enough).

I submitted a PR, but tests only passed for PyQt5 on my machine (Windows, Python 3.8). If you or other team members have time to get the other tests to pass, feel free to push directly to my branch.

I put `createWindowContainer` at the end of `QVTKRenderWindowInteractor`, but the interactive doesn’t resize to

[2022-07-15 16:57] adam-grant-hendry commented on #196
@tkoyama010 No worries! I knew everyone was busy and I would be mostly AFK for the latter half of the week, so I purposefully left a lot of comments to help you and the team see my debugging process.

I submitted a PR, but many tests are still not passing. If you and other team members have time to take a look during the sprints, please feel free to push directly to my branch.

Thank you and @lars

[2022-07-20 22:55] adam-grant-hendry commented on #196
@larsoner @tkoyama010 Please note that my "fix" only works when `QVTKRenderWidgetInteractor` subclasses from `QWidget`. You must manually change `QVTKRWIBase` in [vtmodules/qt/__init__.py](https://gitlab.kitware.com/vtk/vtk/-/blob/master/Wrapping/Python/vtkmodules/qt/__init__.py) to change the base class it derives from

[code]

and you can also set the python `Qt` binding by setting `PyQtImpl` to

[2022-07-29 04:27] adam-grant-hendry commented on #196
@akaszynski @tkoyama010 @larsoner I have submitted [MR 9443](https://gitlab.kitware.com/vtk/vtk/-/merge_requests/9443) on `VTK` to attempt to solve this issue. Would you please kindly review the MR? (The `VTK` team has asked I bring in reviewers from `mayavi` and `pyvista`).

Thanks in advance!

[2022-07-29 13:19] prabhuramachandran commented on #196
@adam-grant-hendry -- I am sorry I got COVID at SciPy the sprints were a washout for me and thereafter I had to travel a long way and am still a bit under the weather. What time I do have is taken up by the semester which is now in full swing. I will try and get to this either this weekend or the next.  Thanks for your patience.

[2022-07-29 19:02] adam-grant-hendry commented on #196
No problem @prabhuramachandran . Thank you for your help!

[2022-07-29 20:12] adam-grant-hendry commented on #196
@banesullivan @GuillaumeFavelier If either of you can review [MR 9443](https://gitlab.kitware.com/vtk/vtk/-/merge_requests/9443) on `VTK` as well, I would also appreciate your help!

[2022-08-08 20:23] adam-grant-hendry commented on #168
Will close and open on `pyvista` issues as this is a `pyvista` issue, not a `pyvistaqt` issue.

[2022-08-08 20:23] #168 closed

[2022-08-15 03:44] reallijie opened #225 "plotter.update_coordinates, Process finished with exit code -1073740940 (0xC0000374)"
How can I display real-time point cloud data from Lidar?

The frequency of Lidar sending data is 10 times per second, about 200,000 points each time.

I try to call plotter.update_coordinates when I receive point cloud data, it gives an error: Process finished with exit code -1073740940 (0xC0000374)

[2022-08-15 03:49] reallijie commented on #225
[code]

[2022-08-15 03:54] reallijie commented on #225
python                    3.8.10
PyQt5                     5.15.4
pyqt5-plugins             5.15.4.2.2
PyQt5-Qt5                 5.15.2
PyQt5-sip                 12.11.0
pyqt5-tools               5.15.4.3.2
pyvista                   0.35.2
pyvistaqt                 0.9.0
QtPy                      2.1.0
vtk                       9.1.0

[2022-08-30 07:52] Xiaoyuew commented on #91
any progress on opacity? this is a really good question.

[2022-08-30 12:51] JacobBumgarner commented on #91
I ended up abandoning this one in favor of just having a push button outside of the plotter.

I think it would still be worth figuring out though.

[2022-09-13 16:25] braincharter opened #235 "RuntimeError: No Qt binding was found, got: No module named 'PyQt5.QtCore"
Hello! I just did a fresh install on windows (anaconda, python 3.8), and got this issue. Do I have to install PyQt5? I doesn't seem to solve the issue..

[2022-10-15 07:11] mkondratyev85 opened #239 "Error when modifying the example to use pyqt6 instead of pyqt5"
I'm trying to use pyvistaqt with pyqt6 but I'm having some problems.

For example, if I take a script from https://qtdocs.pyvista.org/usage.html from the section "Example PyQt5 PyVista QtInteractor"
and change 4th line of the script from
[code]
to
[code]

I get the following error:

[code]

Nothing changes if I directly import pyqt6 by commenting out the usage of qtpy:

[code]

My version of pyvis

[2022-10-28 13:07] sunilpulinthitta opened #241 "only one of the subplots work on 4k monitor"
I can move the app to 2k monitor and all subplots become responsive, but as I move it to the 4k monitor all except one works.

import sys
import os
from qtpy import QtWidgets
import pyvista as pv
from pyvistaqt import QtInteractor, MainWindow

class MyMainWindow(MainWindow):

    def __init__(self, parent=None, show=True):
        QtWidgets.QMainWindow.__init__(self, parent)

        # create the

[2022-10-30 20:38] adam-grant-hendry commented on #239
@mkondratyev85 I would recommend two quick checks as a starting point:

1. If able, look to see if you can update your graphics driver. e.g. I have seen this error occur with older NVIDIA GPUs
2. If able, update your version of `pyvista`. The current version is `0.36.1`, so there are likely to have been several fixes in place since then (e.g. I believe `PySide2` support was added to `pyvistaqt` af

[2022-10-30 20:40] adam-grant-hendry commented on #239
@mkondratyev85 If you can, would you please provide us some system information so we can help you debug further? e.g. You can run:

[code]

and copy and paste the output in a comment here.

[2022-10-31 03:50] mkondratyev85 commented on #239
@adam-grant-hendry thank you for helping me.

System informations after pv.Report():
[code]

My version of drivers are updated. And it looks like I'm using the latest versions of pyvista and pyvistaqt.

[2022-10-31 03:51] mkondratyev85 commented on #239
@adam-grant-hendry Can you confirm the issue? Does this example work on your side when you switch to PyQt6?

[2022-11-04 18:05] ixjlyons opened #243 "Online documentation not up to date"
https://qtdocs.pyvista.org/ shows version 0.6.0dev, whereas the package is currently at 0.9.0. It appears to be automated through Azure Pipelines to push built docs to https://github.com/pyvista/pyvistaqt-docs, but it looks like that hasn't been done in a while.

[2022-11-04 18:33] akaszynski commented on #243
Good point. Also, the docs theme really should be updated to the `pydata-sphinx-theme` used by the PyVista docs.

[2022-11-05 14:41] ixjlyons commented on #89
A bit late but maybe this'll be helpful to others landing here trying to do the same thing.

This can be done with the "Promote to ..." menu when you right click on the placeholder widget. Add a promoted class like this (might be able to use a more specific base class, not sure if it matters):

![image](https://user-images.githubusercontent.com/943602/200124584-68101b2d-1337-434c-9b3b-70f8c88971dd